<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('修改分拣绩效月份')" />
</head>
<body class="bg-white">
<!-- 加载动画-->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>
<!-- 正文开始 -->
<form class="layui-form bg-white" id="inputForm" th:onsubmit="return false" th:action="@{/shop/performanceMonth/edit}" th:object="${storeSortingPerformanceMonth}">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row">
                <input name="id" th:field="*{id}" type="hidden">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">用户id:</label>
                    <div class="layui-input-block">
                        <input name="userId" th:field="*{userId}" type="text" class="layui-input" lay-verType="tips" lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">区域id:</label>
                    <div class="layui-input-block">
                        <input name="deptId" th:field="*{deptId}" type="text" class="layui-input" lay-verType="tips" lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">分拣月份：2020-07:</label>
                    <div class="layui-input-block">
                        <input name="sortingMonth" th:field="*{sortingMonth}" type="text" class="layui-input" lay-verType="tips" lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">绩效结果:</label>
                    <div class="layui-input-block">
                        <input name="result" th:field="*{result}" type="text" class="layui-input" lay-verType="tips" lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">核算人员id:</label>
                    <div class="layui-input-block">
                        <input name="operatorId" th:field="*{operatorId}" type="text" class="layui-input" lay-verType="tips" lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">状态：0-删除，1-正常:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="" lay-verType="tips" lay-verify="required">
                        <div class="layui-form-mid layui-word-aux">代码生成请选择字典属性</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">最后更新时间:</label>
                    <div class="layui-input-block">
                        <input id="lastModifyTime" th:value="${#dates.format(storeSortingPerformanceMonth.lastModifyTime, 'yyyy-MM-dd HH:mm:ss')}" type="text" placeholder="请选择最后更新时间" class="layui-input date-icon" autocomplete="off" readonly="true"/>
                        <input type="hidden" name="lastModifyTime" th:value="${#dates.format(storeSortingPerformanceMonth.lastModifyTime, 'yyyy-MM-dd HH:mm:ss')}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <button id="submitBtn" class="layui-btn" lay-filter="submitBtn" lay-submit>保存</button>
        <button id="closeBtn" class="layui-btn layui-btn-primary" ew-event="closeDialog">关闭</button>
    </div>
</form>

<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var ctx = [[@{/}]];
    var prefix = ctx + "shop/performanceMonth";
</script>
<script th:inline="none">
    layui.use(['index', 'form', 'formX', 'table', 'laydate', 'upload', 'ext'], function(){
        var $ = layui.$;
        var form = layui.form;
        var formX = layui.formX;
        var layer = layui.layer;
        var table = layui.table;
        var admin = layui.admin;
        var upload = layui.upload;
        var laydate = layui.laydate;

        //日期范围
        laydate.render({
            elem: '#lastModifyTime'
            , type: 'datetime'
            , done: function (value, date, endDate) {
                $("input[name='lastModifyTime']").val(value);
            }
        });

    })
</script>
</body>
</html>