<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('分拣绩效月份列表')" />
</head>
<body>

<!-- 加载动画 -->
<!--<div class="page-loading">-->
    <!--<div class="ball-loader">-->
        <!--<span></span><span></span><span></span><span></span>-->
    <!--</div>-->
<!--</div>-->

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <!-- 搜索区 -->
            <form class="layui-form toolbar" th:onsubmit="return false" lay-filter="inputForm" id="inputForm">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label label-auto">分拣员</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="userName" type="text" placeholder="请输入分拣员名称" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label label-auto">所属区域</label>
                        <div class="layui-input-inline">
                            <select name="deptId"  id="deptId"   >
                                <option  value="" th:checked="true">选择区域</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label label-auto">月份</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="sortingMonth" name="sortingMonth" placeholder="请选择月份" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline" style="padding-left: 13px;">
                        <button class="layui-btn layui-btn-sm icon-btn" lay-submit lay-filter="searchBtn" id="searchBtn">
                            <i class="layui-icon layui-icon-search"></i>搜索
                        </button>
                        <button class="layui-btn layui-btn-sm icon-btn" type="reset">
                            <i class="layui-icon layui-icon-refresh"></i>重置
                        </button>
                        <a class="layui-btn layui-btn-primary form-search-expand layui-hide" data-expand="true">
                            展开 <i class="layui-icon layui-icon-down"></i>
                        </a>
                    </div>
                </div>
            </form>

            <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>
        </div>

    </div>
</div>

<!-- 头工具栏 -->
<script type="text/html" id="toolbarHead">
    <div class="layui-btn-container">
        <!--<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add" shiro:hasPermission="shop:performanceMonth:add"><i class="layui-icon layui-icon-addition"></i>新增</button>-->
        <!--<button class="layui-btn layui-btn-warm layui-btn-sm" lay-event="edit" shiro:hasPermission="shop:performanceMonth:edit"><i class="layui-icon layui-icon-edit"></i>修改</button>-->
        <!--<button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="batchdel" shiro:hasPermission="shop:performanceMonth:remove"><i class="layui-icon layui-icon-delete"></i>删除</button>-->
        <!--<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="import" shiro:hasPermission="shop:performanceMonth:import"><i class="layui-icon layui-icon-upload"></i>导入</button>-->
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-addition"></i>绩效核算</button>
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="export" shiro:hasPermission="shop:performanceMonth:export"><i class="layui-icon layui-icon-export"></i>导出</button>
    </div>
</script>

<!-- 行工具栏 -->
<script type="text/html" id="toolbarRow">
    <a class="layui-btn layui-btn-xs" lay-event="view" shiro:hasPermission="shop:performanceMonth:edit">查看详情</a>
    <!--<a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="shop:performanceMonth:edit">修改</a>-->
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="shop:performanceMonth:remove">删除</a>-->
</script>

<!-- js部分 -->
<th:block th:include="include :: footer" />
<script type="text/javascript" th:inline="javascript">
    var ctx = [[@{/}]];
</script>
<script type="text/javascript" th:inline="none">
    layui.use(['index', 'layer', 'laydate','form', 'table', 'util', 'ext'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var ext = layui.ext;
        var admin = layui.admin;
        var index = layui.index;

        var prefix = ctx + "shop/performanceMonth";
        var listUrl = prefix + "/list";
        var createUrl = prefix + "/add";
        var updateUrl = prefix + "/edit/{id}";
        var removeUrl = prefix + "/remove";
        var exportUrl = prefix + "/export";

        table.render({
            elem: '#dataTable'
            ,url: listUrl
            ,method: 'POST'
            ,toolbar: '#toolbarHead'
            ,defaultToolbar:[]
            ,height: 'full-100'
            ,cellMinWidth: 80
            ,page: {
                curr:1
            }
            ,request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,limit: 10
            ,cols: [[
                {type: 'checkbox'}
                ,{field: 'id', title: '自增id', hide: true}
                ,{field: 'userName', title: '分拣员'}
                ,{field: 'deptName', title: '所属区域'}
                ,{field: 'sortingMonth', title: '绩效月份'}
                ,{field: 'result', title: '分拣绩效'}
                ,{field: 'stockResult', title: '采购绩效'}
                ,{field: 'adjustResult', title: '调拨绩效'}
                ,{field: 'operatorName', title: '核算人员'}
                // ,{field: 'status', title: '状态：0-删除，1-正常'}
                // ,{field: 'lastModifyTime', title: '最后更新时间'}
                ,{field: 'operate', title: '操作', minWidth: 200, toolbar: '#toolbarRow', fixed: 'right'}
            ]]
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.rows //解析数据列表
                };
            }
        });

        //日期范围
        laydate.render({
            elem: '#createTime'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value != null && value != '') {
                    var b = $.trim(value.split('~')[0]);
                    var e = $.trim(value.split('~')[1]);
                    $("#beginDate").val(b);
                    $("#endDate").val(e);
                }
            }
        });

        //年月选择器
        laydate.render({
            elem: '#sortingMonth'
            ,type: 'month'
        });

        //监听搜索
        form.on('submit(searchBtn)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('dataTable', {
                where: field
                ,page:{curr:1}
            });
        });

        //头工具栏事件
        table.on('toolbar(dataTable)', function(obj){
            switch(obj.event){
                case 'add':
                    active.add();
                    break;
                case 'edit':
                    var checkStatus = table.checkStatus('dataTable')
                            , checkData = checkStatus.data; //得到选中的数据
                    var id = null;
                    if (id == null) {
                        if (checkData.length === 0) {
                            return admin.info('请选择一条数据');
                        } else if (checkData.length > 1) {
                            return admin.info('只能选择一条数据编辑');
                        } else {
                            id = checkData[0].id;
                        }
                    }
                    active.edit(id);
                    break;
                case 'batchdel':
                    active.batchdel();
                    break;
                case 'import':
                    break;
                case 'export':
                    $.modal.loading("正在导出数据，请稍后...");
                    $.post(exportUrl, $("#inputForm").serializeArray(), function(result) {
                        if (result.code == web_status.SUCCESS) {
                            window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                        } else if (result.code == web_status.WARNING) {
                            $.modal.alertWarning(result.msg)
                        } else {
                            $.modal.alertError(result.msg);
                        }
                        $.modal.closeLoading();
                    });
                    break;
            };
        });

        //行工具栏事件
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'view') {
                active.view(data.id);
            } else if(obj.event === 'edit'){
                active.edit(data.id);
            } else if (obj.event === 'del') {
                active.del(data.id);
            }
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('dataTable')
                        , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return admin.info('请选择数据');
                }

                var ids = [];
                layui.each(checkData, function (index, item) {
                    ids.push(item.id);
                });

                admin.confirm('确定删除吗？', function () {
                    admin.req(removeUrl, {ids: ids.join(',')}, function (result) {
                        if (result.code == 0) {
                            table.reload('dataTable');
                            admin.success('删除成功!');
                        } else {
                            admin.error(result.msg);
                        }
                    },'post')
                });
            }
            ,view: function (id) {
                // admin.openDialogView('查看分拣绩效月份', editUrl, '800px', '480px');
                var detailUrl = ctx + "shop/performanceDay/detail/" + id
                index.openTab({
                    title: '分拣绩效详情',
                    url: detailUrl,
                    end: function() {
                        // insTb.reload();
                        // table.reload("dataTable")
                    }
                });
            }
            ,add: function () {
                admin.openDialogWithCustBtn('分拣绩效核算', createUrl, '800px', '480px',['确认核算','取消核算'],'','',function () {
                    //监听到核算完成事件
                    console.log("viv refresh.....");
                });
            }
            ,edit: function (id) {
                var editUrl = updateUrl.replace("{id}", id);
                admin.openDialog('修改分拣绩效月份', editUrl, '800px', '480px');
            }
            ,del: function(id){
                admin.confirm('确定删除吗?',function(){
                    admin.req(removeUrl, {ids: id}, function (data) {
                        if (data.code == 0) {
                            table.reload('dataTable');
                            admin.success('删除成功!');
                        } else {
                            admin.error(data.msg);
                        }
                    },'post')
                });
            }
        }

        //所属区域------------------------------------------------------------------------------------------------------
        admin.req(ctx + "system/dept/getLoginUserDept", { }, function (result) {
            var select= document.getElementById('deptId');
            for (var i=0;i<result.data.length;i++) {
                var data= result.data[i];
                var option = document.createElement("option");
                option.setAttribute("value", data.value);
                option.innerText =data.name;
                select.appendChild(option)
            }
            form.render('select');
        },'get')

        parent.layui.admin.confirm1('为避免分拣绩效数据丢失，请提前设置分拣考勤！', function (index) {
            parent.layer.close(index);
        });
    });
</script>

</body>
</html>