<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaboot.shop.mapper.StoreSortingDetailMapper">
    
    <resultMap type="StoreSortingDetail" id="StoreSortingDetailResult">
        <result property="id"    column="id"    />
        <result property="orderItemId"    column="order_item_id"    />
        <result property="sortingWeight"    column="sorting_weight"    />
        <result property="sortingQuantity"    column="sorting_quantity"    />
        <result property="sortingQuantityUnit"    column="sorting_quantity_unit"    />
        <result property="sortingDay"    column="sorting_day"    />
        <result property="sortingUserId"    column="sorting_user_id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastModifyTime"    column="last_modify_time"    />
        <result property="performanceResult"    column="performance_result"    />
    </resultMap>

    <sql id="selectStoreSortingDetailVo">
        select id, order_item_id, sorting_weight, sorting_quantity, sorting_quantity_unit, sorting_day, sorting_user_id, status, create_time, last_modify_time,performance_result from store_sorting_detail
    </sql>

    <select id="selectStoreSortingDetailList" parameterType="StoreSortingDetail" resultMap="StoreSortingDetailResult">
        <include refid="selectStoreSortingDetailVo"/>
        <where>  
            <if test="orderItemId != null "> and order_item_id = #{orderItemId}</if>
            <if test="sortingWeight != null "> and sorting_weight = #{sortingWeight}</if>
            <if test="sortingQuantity != null "> and sorting_quantity = #{sortingQuantity}</if>
            <if test="sortingQuantityUnit != null "> and sorting_quantity_unit = #{sortingQuantityUnit}</if>
            <if test="sortingDay != null  and sortingDay != ''"> and sorting_day = #{sortingDay}</if>
            <if test="sortingUserId != null "> and sorting_user_id = #{sortingUserId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="lastModifyTime != null "> and last_modify_time = #{lastModifyTime}</if>
            <if test="sortingUserIds != null  and sortingUserIds != ''">
                AND sorting_user_id in
                <foreach item="userId" collection="sortingUserIds" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            <if test="workDayStartDate != null  and workDayStartDate != '' and workDayEndDate != null  and workDayEndDate != ''">
                and sorting_day BETWEEN #{workDayStartDate} and #{workDayEndDate}
            </if>
        </where>
    </select>

    <select id="selectStoreSortingDetailListForDeptMonth" parameterType="StoreSortingDetail" resultMap="StoreSortingDetailResult">
        select ssd.id, ssd.order_item_id, ssd.sorting_weight, ssd.sorting_quantity, ssd.sorting_quantity_unit, ssd.sorting_day,
            ssd.sorting_user_id, ssd.status, ssd.create_time, ssd.last_modify_time,ssd.performance_result
        from store_sorting_detail ssd
        where
          ssd.status = '1'
          and ssd.order_item_id in (
            select sgoi.item_id from store_goods_order_item sgoi
            join store_goods_order sgo on sgoi.order_id = sgo.order_id
            where
              sgo.status in (3,4)
              <if test="workDayStartDate != null  and workDayStartDate != '' and workDayEndDate != null  and workDayEndDate != ''">
                and DATE_FORMAT(sgo.delivery_date ,'%Y-%m-%d') BETWEEN #{workDayStartDate} and #{workDayEndDate}
              </if>
              <if test="deptId != null "> and sgo.dept_id = #{deptId}</if>
          )
    </select>

    <select id="selectStoreSortingDetailById" parameterType="Long" resultMap="StoreSortingDetailResult">
        <include refid="selectStoreSortingDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStoreSortingDetail" parameterType="StoreSortingDetail" useGeneratedKeys="true" keyProperty="id">
        insert into store_sorting_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderItemId != null ">order_item_id,</if>
            <if test="sortingWeight != null ">sorting_weight,</if>
            <if test="sortingQuantity != null ">sorting_quantity,</if>
            <if test="sortingQuantityUnit != null ">sorting_quantity_unit,</if>
            <if test="sortingDay != null  and sortingDay != ''">sorting_day,</if>
            <if test="sortingUserId != null ">sorting_user_id,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="lastModifyTime != null ">last_modify_time,</if>
            <if test="outStockStatus != null ">out_stock_status,</if>
            <if test="performanceResult != null ">performance_result,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderItemId != null ">#{orderItemId},</if>
            <if test="sortingWeight != null ">#{sortingWeight},</if>
            <if test="sortingQuantity != null ">#{sortingQuantity},</if>
            <if test="sortingQuantityUnit != null ">#{sortingQuantityUnit},</if>
            <if test="sortingDay != null  and sortingDay != ''">#{sortingDay},</if>
            <if test="sortingUserId != null ">#{sortingUserId},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="lastModifyTime != null ">#{lastModifyTime},</if>
            <if test="outStockStatus != null ">#{outStockStatus},</if>
            <if test="performanceResult != null ">#{performanceResult},</if>
         </trim>
    </insert>

    <update id="updateStoreSortingDetail" parameterType="StoreSortingDetail">
        update store_sorting_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderItemId != null ">order_item_id = #{orderItemId},</if>
            <if test="sortingWeight != null ">sorting_weight = #{sortingWeight},</if>
            <if test="sortingQuantity != null ">sorting_quantity = #{sortingQuantity},</if>
            <if test="sortingQuantityUnit != null ">sorting_quantity_unit = #{sortingQuantityUnit},</if>
            <if test="sortingDay != null  and sortingDay != ''">sorting_day = #{sortingDay},</if>
            <if test="sortingUserId != null ">sorting_user_id = #{sortingUserId},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="lastModifyTime != null ">last_modify_time = #{lastModifyTime},</if>
            <if test="performanceResult != null ">performance_result = #{performanceResult},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStoreSortingDetailById" parameterType="Long">
        delete from store_sorting_detail where id = #{id}
    </delete>

    <delete id="deleteStoreSortingDetailByIds" parameterType="String">
        delete from store_sorting_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateStoreSortingWeight" parameterType="StoreSortingDetail">
        update store_sorting_detail SET sorting_weight = #{sortingWeight}
        where order_item_id = #{orderItemId} AND status = '1'
    </update>

</mapper>