<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaboot.shop.mapper.StoreHomepageAdsMapper">
    
    <resultMap type="StoreHomepageAds" id="StoreHomepageAdsResult">
        <result property="id"    column="id"    />
        <result property="adNo"    column="ad_no"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="sequenceNo"    column="sequence_no"    />
        <result property="status"    column="status"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastModifyTime"    column="last_modify_time"    />
    </resultMap>

    <sql id="selectStoreHomepageAdsVo">
--         select id, ad_no, img_url, sequence_no, status, creator_id, create_time, last_modify_time from store_homepage_ads
        select ad.id, ad.ad_no, ad.img_url, ad.sequence_no, ad.status, ad.creator_id, ad.create_time, ad.last_modify_time,u.user_name as creator_name
        from store_homepage_ads ad
        left join sys_user u on ad.creator_id = u.user_id
    </sql>

    <select id="selectStoreHomepageAdsList" parameterType="StoreHomepageAds" resultMap="StoreHomepageAdsResult">
        <include refid="selectStoreHomepageAdsVo"/>
        <where>
            and ad.status = '1'
            <if test="adNo != null  and adNo != ''"> and ad_no = #{adNo}</if>
            <if test="imgUrl != null  and imgUrl != ''"> and img_url = #{imgUrl}</if>
            <if test="sequenceNo != null "> and sequence_no = #{sequenceNo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="creatorId != null "> and creator_id = #{creatorId}</if>
        </where>
        order by ad.sequence_no asc
    </select>
    
    <select id="selectStoreHomepageAdsById" parameterType="Long" resultMap="StoreHomepageAdsResult">
        <include refid="selectStoreHomepageAdsVo"/>
        where ad.id = #{id}
    </select>
        
    <insert id="insertStoreHomepageAds" parameterType="StoreHomepageAds" useGeneratedKeys="true" keyProperty="id">
        insert into store_homepage_ads
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adNo != null  and adNo != ''">ad_no,</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url,</if>
            <if test="sequenceNo != null ">sequence_no,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="creatorId != null ">creator_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="lastModifyTime != null ">last_modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adNo != null  and adNo != ''">#{adNo},</if>
            <if test="imgUrl != null  and imgUrl != ''">#{imgUrl},</if>
            <if test="sequenceNo != null ">#{sequenceNo},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="creatorId != null ">#{creatorId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="lastModifyTime != null ">#{lastModifyTime},</if>
         </trim>
    </insert>

    <update id="updateStoreHomepageAds" parameterType="StoreHomepageAds">
        update store_homepage_ads
        <trim prefix="SET" suffixOverrides=",">
            <if test="adNo != null  and adNo != ''">ad_no = #{adNo},</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url = #{imgUrl},</if>
            <if test="sequenceNo != null ">sequence_no = #{sequenceNo},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="creatorId != null ">creator_id = #{creatorId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="lastModifyTime != null ">last_modify_time = #{lastModifyTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStoreHomepageAdsById" parameterType="Long">
        delete from store_homepage_ads where id = #{id}
    </delete>

    <delete id="deleteStoreHomepageAdsByIds" parameterType="String">
        delete from store_homepage_ads where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>