<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('修改控价')" />
</head>
<body class="bg-white">
<!-- 加载动画-->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>
<!-- 正文开始 -->
<form class="layui-form bg-white" id="inputForm" th:onsubmit="return false" th:action="@{/system/setting/edit}" th:object="${storePriceSetting}">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row">
                <input name="settingId" th:field="*{settingId}" type="hidden">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属中心id:</label>
                    <div class="layui-input-block">
                        <input name="deptId" th:field="*{deptId}" type="text" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">控价日期:</label>
                    <div class="layui-input-block">
                        <input id="optDate" th:value="${#dates.format(storePriceSetting.optDate, 'yyyy-MM-dd HH:mm:ss')}" type="text" placeholder="请选择控价日期" class="layui-input date-icon" autocomplete="off" readonly="true"/>
                        <input type="hidden" name="optDate" th:value="${#dates.format(storePriceSetting.optDate, 'yyyy-MM-dd HH:mm:ss')}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">0：未审核    1：已审核:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="">
                        <div class="layui-form-mid layui-word-aux">代码生成请选择字典属性</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品数量:</label>
                    <div class="layui-input-block">
                        <input name="goodsCount" th:field="*{goodsCount}" type="text" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">报价单数量:</label>
                    <div class="layui-input-block">
                        <input name="adjustCount" th:field="*{adjustCount}" type="text" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">最后修改时间:</label>
                    <div class="layui-input-block">
                        <input id="lastModifyTime" th:value="${#dates.format(storePriceSetting.lastModifyTime, 'yyyy-MM-dd HH:mm:ss')}" type="text" placeholder="请选择最后修改时间" class="layui-input date-icon" autocomplete="off" readonly="true"/>
                        <input type="hidden" name="lastModifyTime" th:value="${#dates.format(storePriceSetting.lastModifyTime, 'yyyy-MM-dd HH:mm:ss')}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <button id="submitBtn" class="layui-btn" lay-filter="submitBtn" lay-submit>保存</button>
        <button id="closeBtn" class="layui-btn layui-btn-primary" ew-event="closeDialog">关闭</button>
    </div>
</form>

<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var ctx = [[@{/}]];
    var prefix = ctx + "system/setting";
</script>
<script th:inline="none">
    layui.use(['index', 'form', 'formX', 'table', 'laydate', 'upload', 'ext'], function(){
        var $ = layui.$;
        var form = layui.form;
        var formX = layui.formX;
        var layer = layui.layer;
        var table = layui.table;
        var admin = layui.admin;
        var upload = layui.upload;
        var laydate = layui.laydate;

        //日期范围
        laydate.render({
            elem: '#optDate'
            , type: 'datetime'
            , done: function (value, date, endDate) {
                $("input[name='optDate']").val(value);
            }
        });
        //日期范围
        laydate.render({
            elem: '#lastModifyTime'
            , type: 'datetime'
            , done: function (value, date, endDate) {
                $("input[name='lastModifyTime']").val(value);
            }
        });

    })
</script>
</body>
</html>