<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>表单设计器</title>
    <link href="../static/assets/images/favicon.ico" rel="icon" th:href="@{/assets/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/assets/libs/layui/css/layui.css}">
</head>

<body class="layui-layout-body">
<div style="height: 100%; width: 100%;" id="formdesigner">

</div>

<script type="text/javascript" th:src="@{/assets/libs/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/config.js}"></script>
<script type="text/javascript" th:src="@{/assets/module/Sortable/Sortable.min.js}"> </script>
<!--htmlformat 为js-beautify代码-->
<script type="text/javascript" th:src="@{/assets/js/htmlformat.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jsformat.js}"></script>
<script>
    layui.use(['layer', 'formDesigner'], function () {
        var formDesigner = layui.formDesigner;
        formDesigner.render({
            elem:'#formdesigner'
        });
    });
</script>

</body>

</html>