<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>定时任务日志列表</title>
	<link rel="stylesheet" href="../../../static/assets/libs/layui/css/layui.css" th:href="@{/assets/libs/layui/css/layui.css}"/>
	<link rel="stylesheet" href="../../../static/assets/module/admin.css?v=316" th:href="@{/assets/module/admin.css?v=316}"/>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>



<!-- 正文开始 -->
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-card">
			<!-- 搜索区 -->
			<form class="layui-form toolbar" th:onsubmit="return false" lay-filter="inputForm" id="inputForm">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label label-auto">任务名称：</label>
						<div class="layui-input-inline">
							<input class="layui-input" name="jobName" type="text" placeholder="输入任务名称"/>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label label-auto">任务分组：</label>
						<div class="layui-input-inline">
							<select name="jobGroup" th:with="type=${@dict.getType('sys_job_group')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label label-auto">执行状态：</label>
						<div class="layui-input-inline">
							<select name="status" th:with="type=${@dict.getType('sys_common_status')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label label-auto">执行时间：</label>
						<div class="layui-input-inline">
							<input id="createTime" type="text" placeholder="请选择开始和结束日期" class="layui-input date-icon" autocomplete="off"/>
							<input id="beginDate" type="hidden" name="params[beginTime]">
							<input id="endDate" type="hidden" name="params[endTime]">
						</div>
					</div>
					<div class="layui-inline" style="padding-left: 13px;">
						<button class="layui-btn layui-btn-sm icon-btn" lay-submit lay-filter="searchBtn" id="searchBtn">
							<i class="layui-icon layui-icon-search"></i>搜索
						</button>
						<button class="layui-btn layui-btn-sm icon-btn" type="reset">
							<i class="layui-icon layui-icon-refresh"></i>重置
						</button>
					</div>
				</div>
			</form>

			<table class="layui-table" id="dataTable" lay-filter="dataTable"></table>

		</div>

	</div>
</div>

<!-- 头工具栏 -->
<script type="text/html" id="toolbarHead">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="batchdel" shiro:hasPermission="monitor:job:remove"><i class="layui-icon layui-icon-delete"></i>删除</button>
		<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="clean" shiro:hasPermission="monitor:job:remove"><i class="layui-icon layui-icon-upload"></i>清空</button>
		<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="export" shiro:hasPermission="monitor:job:export"><i class="layui-icon layui-icon-export"></i>导出</button>
	</div>
</script>

<!-- 行工具栏 -->
<script type="text/html" id="toolbarRow">
	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view" shiro:hasPermission="monitor:job:detail">详细</a>
</script>

<!-- js部分 -->
<script type="text/javascript" src="../../../static/assets/libs/layui/layui.js" th:src="@{/assets/libs/layui/layui.js}"></script>
<script type="text/javascript" src="../../../static/assets/js/common.js?v=316" th:src="@{/assets/js/common.js}"></script>

<script type="text/javascript" th:inline="javascript">
	var ctx = [[@{/}]];
	var statusDatas = [[${@dict.getType('sys_common_status')}]];
	var groupDatas = [[${@dict.getType('sys_job_group')}]];
</script>
<script type="text/javascript" th:inline="none">
	layui.use(['index', 'layer', 'form', 'table', 'util', 'laydate', 'ext'], function () {
		var $ = layui.jquery;
		var layer = layui.layer;
		var form = layui.form;
		var table = layui.table;
		var util = layui.util;
		var laydate = layui.laydate;
		var ext = layui.ext;
		var admin = layui.admin;
		var index = layui.index;

		var prefix = ctx + "monitor/jobLog";
		var url = prefix + "/list";
		var cleanUrl = prefix + "/clean";
		var detailUrl = prefix + "/detail/{id}";
		var removeUrl = prefix + "/remove";
		var exportUrl = prefix + "/export";

		table.render({
			elem: '#dataTable'
			,url: url
			,method: 'POST'
			,toolbar: '#toolbarHead'
			,height: 'full-100'
			,cellMinWidth: 80
			,page: true
			,request: {
				pageName: 'pageNum' //页码的参数名称，默认：page
				,limitName: 'pageSize' //每页数据量的参数名，默认：limit
			}
			,limit: 10
			,cols: [[
				{type: 'checkbox'}
				,{field: 'jobName', title: '任务名称', width: 180}
				,{field: 'jobGroup', title: '任务分组', width: 100, templet:function (res) {
					return $.table.selectDictLabel(groupDatas, res.jobGroup);
				}}
				,{field: 'invokeTarget', title: '调用目标字符串', width: 150}
				,{field: 'jobMessage', title: '日志信息'}
				,{field: 'status', title: '状态', width: 100, templet:function (res) {
					return $.table.selectDictLabel(statusDatas, res.status);
				}}
				,{field: 'createTime', title: '创建时间', width: 200}
				,{field: 'operate', title: '操作', width: 70, toolbar: '#toolbarRow', fixed: 'right'}
			]]
			,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
				return {
					"code": res.code, //解析接口状态
					"msg": res.msg, //解析提示文本
					"count": res.total, //解析数据长度
					"data": res.rows //解析数据列表
				};
			}
		});

		//日期范围
		laydate.render({
			elem: '#createTime'
			, range: '~'
			, done: function (value, date, endDate) {
				// console.log(value); //得到日期生成的值，如：2017-08-18
				// console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
				// console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
				if (value != null && value != '') {
					var b = $.trim(value.split('~')[0]);
					var e = $.trim(value.split('~')[1]);
					// console.log(b);
					// console.log(e);
					$("#beginDate").val(b);
					$("#endDate").val(e);
				}
			}
		});

		//监听搜索
		form.on('submit(searchBtn)', function (data) {
			var field = data.field;
			console.log(JSON.stringify(field));
			//执行重载
			table.reload('dataTable', {
				where: field
			});
		});

		//头工具栏事件
		table.on('toolbar(dataTable)', function(obj){
			switch(obj.event){
				case 'batchdel':
					active.batchdel();
					break;
				case 'clean':
					active.clean();
					break;
				case 'export':
					active.export();
					break;
			};
		});

		//行工具栏事件
		table.on('tool(dataTable)', function (obj) {
			var data = obj.data;
			if (obj.event === 'view') {
				active.view(data.jobLogId);
			}
		});

		//事件
		var active = {
			batchdel: function () {
				var checkStatus = table.checkStatus('dataTable')
						, checkData = checkStatus.data; //得到选中的数据

				if (checkData.length === 0) {
					return admin.info('请选择数据');
				}

				var ids = [];
				layui.each(checkData, function (index, item) {
					ids.push(item.jobLogId);
				});

				admin.confirm('确定删除吗？', function () {
					admin.req(removeUrl, {ids: ids.join(',')}, function (result) {
						if (result.code == 0) {
							table.reload('dataTable');
							admin.success('删除成功!');
						} else {
							admin.error(result.msg);
						}
					},'post')
				});
			}
			,view: function (id) {
				var viewUrl = detailUrl.replace("{id}", id);
				admin.openDialogView('定时任务日志详细', viewUrl, '900px', '480px');
			}
			,clean: function () {
				admin.confirm('确定清空吗？', function () {
					admin.req(cleanUrl, null, function (result) {
						if (result.code == 0) {
							table.reload('dataTable');
							admin.success('清空成功!');
						} else {
							admin.error(result.msg);
						}
					},'post')
				});
			}
			,export: function(){
				$.modal.loading("正在导出数据，请稍后...");
				$.post(exportUrl, $("#inputForm").serializeArray(), function(result) {
					if (result.code == web_status.SUCCESS) {
						window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
					} else if (result.code == web_status.WARNING) {
						$.modal.alertWarning(result.msg)
					} else {
						$.modal.alertError(result.msg);
					}
					$.modal.closeLoading();
				});
			}
		}


	});
</script>
</body>

</html>