<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('新增司机信息')" />
</head>
<body class="bg-white">
<!-- 加载动画-->
<!--<div class="page-loading">-->
    <!--<div class="ball-loader">-->
        <!--<span></span><span></span><span></span><span></span>-->
    <!--</div>-->
<!--</div>-->
<!-- 正文开始 -->
<form class="layui-form bg-white" id="inputForm" th:onsubmit="return false" th:action="@{/shop/driver/add}" th:object="${storeDriverInfo}">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row">
                <input name="driverId" type="hidden">
                <input name="deptId" type="hidden" id="treeId" th:value="${param.deptId}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">司机名称:</label>
                    <div class="layui-input-block">
                        <input name="driverName" type="text" class="layui-input" lay-verType="tips" lay-verify="required" autocomplete="off"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">驾驶证编号:</label>
                    <div class="layui-input-block">
                        <input name="driverLicense" type="text" class="layui-input" lay-verType="tips" lay-verify="required" autocomplete="off"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">联系方式:</label>
                    <div class="layui-input-block">
                        <input name="driverPhone" type="text" class="layui-input" lay-verType="tips" lay-verify="required" autocomplete="off"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <!--<label class="layui-form-label layui-form-required">所属区域:</label>
                    <div class="layui-input-block">
                        <select name="areaId" class="layui-select" lay-verType="tips" lay-verify="required">
                            <option value="">所有</option>
                        </select>
                        <div class="layui-form-mid layui-word-aux">代码生成请选择字典属性</div>
                    </div>-->
                    <label class="layui-form-label layui-form-required">所属区域:</label>
                    <div class="layui-input-block">
                        <input id="treeName" name="deptName" type="text" placeholder="请选择归属区域" class="layui-input icon-search" lay-verType="tips" lay-verify="required" autocomplete="off" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">所属线路:</label>
                    <div class="layui-input-block">
                        <select name="routeId" id="routeId" class="layui-select" lay-verType="tips" lay-verify="required">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <button id="submitBtn" class="layui-btn" lay-filter="submitBtn" lay-submit>保存</button>
        <button id="closeBtn" class="layui-btn layui-btn-primary" ew-event="closeDialog">关闭</button>
    </div>
</form>

<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var ctx = [[@{/}]];
    var prefix = ctx + "shop/driver";
</script>
<script th:inline="none">
    layui.use(['index', 'form', 'formX', 'table', 'laydate', 'upload', 'ext'], function(){
        var $ = layui.$;
        var form = layui.form;
        var formX = layui.formX;
        var layer = layui.layer;
        var table = layui.table;
        var admin = layui.admin;
        var upload = layui.upload;
        var laydate = layui.laydate;

        /*用户管理-新增-选择部门树*/
        $("#treeName").click(function(){
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "23" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        })

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.layui.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                console.log($("#treeId").val());
                console.log($("#treeName").val());
                layer.close(index);
            }
        }

        //获取线路列表
        admin.req(ctx + "shop/route/list?pageSize=1000", {}, function (result) {
            var select = document.getElementById('routeId');
            select.innerHTML = "";
            if(result.rows && result.rows.length){
                for(var i =0;i<result.rows.length;i++){
                    var data = result.rows[i];
                    var option = document.createElement("option");
                    option.setAttribute("value",data.routeId);
                    option.setAttribute("data-name",data.routeName);
                    option.innerText = data.routeName;
                    select.appendChild(option);
                }
            }

            form.render('select');
        },'post')
    })
</script>
</body>
</html>