<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('销售单位列表')" />
</head>
<body>



<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <!-- 搜索区 -->
            <form class="layui-form toolbar" th:onsubmit="return false" lay-filter="inputForm" id="inputForm">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label label-auto">销售名称：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="name" type="text" placeholder="请输入规格名称"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label label-auto">结算单位：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="settlementUnit" type="text" placeholder="请输入结算单位"/>
                        </div>
                    </div>

                    <div class="layui-inline" style="padding-left: 13px;">
                        <button class="layui-btn layui-btn-sm icon-btn" lay-submit lay-filter="searchBtn" id="searchBtn">
                            <i class="layui-icon layui-icon-search"></i>搜索
                        </button>
                        <button class="layui-btn layui-btn-sm icon-btn" type="reset">
                            <i class="layui-icon layui-icon-refresh"></i>重置
                        </button>
                        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add" id="add" shiro:hasPermission="shop:unit:add"><i class="layui-icon layui-icon-addition"></i>新增</button>

                        <a class="layui-btn layui-btn-primary form-search-expand layui-hide" data-expand="true">
                            展开 <i class="layui-icon layui-icon-down"></i>
                        </a>
                    </div>
                </div>
            </form>

            <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>
        </div>

    </div>
</div>



<!-- 行工具栏 -->
<script type="text/html" id="toolbarRow">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="shop:unit:edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="shop:unit:remove">删除</a>
</script>

<!-- js部分 -->
<th:block th:include="include :: footer" />
<script type="text/javascript" th:inline="javascript">
    var ctx = [[@{/}]];
</script>
<script type="text/javascript" th:inline="none">
    layui.use(['index', 'layer', 'form', 'table', 'util', 'ext'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var ext = layui.ext;
        var admin = layui.admin;
        var index = layui.index;

        var prefix = ctx + "shop/unit";
        var listUrl = prefix + "/list";
        var createUrl = prefix + "/add";
        var updateUrl = prefix + "/edit/{id}";
        var removeUrl = prefix + "/remove";
        var exportUrl = prefix + "/export";

        table.render({
            elem: '#dataTable'
            ,url: listUrl
            ,method: 'POST'
            ,height: 'full-100'
            ,cellMinWidth: 80
            ,page: true
            ,request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,limit: 10
            ,cols: [[
                {type: 'checkbox'}
                ,{field: 'unitId', title: '单位id', hide: true}
                ,{field: 'name', title: '销售单位'}
                ,{field: 'settlementUnit', title: '结算单位'}
                // ,{field: 'conversionRelationship', title: '换算关系'}
                ,{field: 'status', title: '状态',  templet: function (d) {
                    return  d.status==1?'启用':'禁用';
                    }}
                ,{field: 'operate', title: '操作', minWidth: 200, toolbar: '#toolbarRow', fixed: 'right'}
            ]]
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.rows //解析数据列表
                };
            }
        });
        $("#add").click(function () {
            admin.openDialog('创建销售单位', createUrl, '800px', '480px','dataGrid', 'submitBtn',function (res) {
                admin.success('创建销售单位!');
                //执行重载
                table.reload('dataTable', {
                    where: getFormData()
                });
            });
        });
        function getFormData(){
            var d = {
                searchKey:$("#name").val(),
                classifyIds:$("#settlementUnit").val(),
            }
            return d;
        }
        //监听搜索
        form.on('submit(searchBtn)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('dataTable', {
                where: field
            });
        });


        //行工具栏事件
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'view') {
                active.view(data.unitId);
            } else if(obj.event === 'edit'){
                active.edit(data.unitId);
            } else if (obj.event === 'del') {
                active.del(data.unitId);
            }
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('dataTable')
                        , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return admin.info('请选择数据');
                }

                var ids = [];
                layui.each(checkData, function (index, item) {
                    ids.push(item.unitId);
                });

                admin.confirm('确定删除吗？', function () {
                    admin.req(removeUrl, {ids: ids.join(',')}, function (result) {
                        if (result.code == 0) {
                            table.reload('dataTable');
                            admin.success('删除成功!');
                        } else {
                            admin.error(result.msg);
                        }
                    },'post')
                });
            }

            ,add: function () {
                admin.openDialog('新增销售单位', createUrl, '800px', '480px');
            }
            ,edit: function (id) {
                var editUrl = updateUrl.replace("{id}", id);
                admin.openDialog('修改销售单位', editUrl, '800px', '480px');
            }
            ,del: function(id){
                admin.confirm('确定删除吗?',function(){
                    admin.req(removeUrl, {ids: id}, function (data) {
                        if (data.code == 0) {
                            table.reload('dataTable');
                            admin.success('删除成功!');
                        } else {
                            admin.error(data.msg);
                        }
                    },'post')
                });
            }
        }
    });
</script>

</body>
</html>