<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('新增退货单')"/>
</head>
<body class="bg-white">
<style>
    .div-row{
        width: 20%;
        float: left;
    }
</style>
<!-- 正文开始 -->
<form class="layui-form bg-white" id="inputForm" th:onsubmit="return false">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row">

                <div class="div-row">
                    <label class="layui-form-label layui-form-required">客户:</label>
                    <div class="layui-input-block" style="width: 200px">
                        <select  th:with="type=${storeMemberList}" name="merchantId" id="merchantId" lay-filter="merchantId" lay-search lay-verType="tips"
                                 lay-verify="required">
                            <option value="">客户名称</option>
                            <option th:each="dict : ${type}" th:text="${dict.nickname}" th:value="${dict.id}"></option>
                        </select>

                    </div>
                </div>
                <div class="div-row">
                    <label class="layui-form-label layui-form-required">仓库:</label>
                    <div class="layui-input-block" style="width: 200px">
                        <select th:with="type=${houseList}" name="warehouseId"  lay-search lay-verType="tips"
                                lay-verify="required">
                            <option   value="">选择仓库</option>
                            <option  th:each="dict:${type}"  th:value="${dict.storeId}" th:text="${{dict.storeName}}"></option>
                        </select>
                    </div>
                </div>
                <div class="div-row">
                    <label class="layui-form-label layui-form-required">付款状态:</label>
                    <div class="layui-input-block" style="width: 200px">
                        <select th:with="type=${payStatusList}" name="payStatus"  lay-search lay-verType="tips"
                                lay-verify="required">
                            <option  th:each="dict:${type}"  th:value="${dict.dictValue}" th:text="${{dict.dictLabel}}"></option>
                        </select>
                    </div>
                </div>
                <div class="div-row">
                    <label class="layui-form-label layui-form-required">退货类型:</label>
                    <div class="layui-input-block" style="width: 200px">
                        <select th:with="type=${typeList}" name="returnType"  lay-search lay-verType="tips"
                                lay-verify="required">
                            <option  th:each="dict:${type}"  th:value="${dict.dictValue}" th:text="${{dict.dictLabel}}"></option>
                        </select>
                    </div>
                </div>
                <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>


                <div class="layui-form-item">
                    <label class="layui-form-label">备注说明:</label>
                    <div class="layui-input-block">
                        <textarea name="comment" width="100%" placeholder="备注说明" class="layui-textarea" maxlength="1000"
                                  rows="3"></textarea>

                    </div>
                </div>

            </div>
        </div>
        <div class="layui-form-item btn1 ">
            <button id="submitBtn" class="layui-btn" lay-filter="submitBtn" lay-submit>保存</button>
        </div>
    </div>

</form>
<style>
    #submitBtn {
        animation: cssAnimation 0s 1s forwards;
        opacity: 0;
    }
    @keyframes cssAnimation {
        to { opacity: 1; }
    }
    .btn1 {
        text-align: center;
    }
    td .layui-form-select {
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .layui-table-cell {
        overflow: visible !important;
        display: table-cell;
        vertical-align: middle;
    }

    .layui-table-view .layui-table th {
        overflow: hidden;

    }

    .layui-edge {
        visibility: hidden
    }

    .icon-div:hover {
        transform: scale(1.5);
    }


</style>
<script type="text/html" id="toolbarRow">
    <i class="layui-icon layui-icon-addition" lay-event="add"></i>
    <i class="layui-icon layui-icon-subtraction" lay-event="subtraction"></i>
    {{# if (d.goodsId==null){ }}
    <div style="position: absolute;top:5px;right:14px;width: 300px;">
        <select class="goodsSelect" name="row-select-{{d.row}}" lay-filter="row-select-{{d.row}}"
                id="row-select-{{d.row}}" lay-search>
            <option value="">输入编码/商品名称</option>
            {{# if (dataList&&dataList.length>0){ }}
            {{# layui.each(dataList, function(index, item){ }}
            {{# if (item.disabled){ }}
            <option disabled value="{{item.goodsId}}">{{item.goodsCode+'/'+item.propertyName}}</option>
            {{# } else { }}
            <option value="{{item.goodsId}}">{{item.goodsCode+'/'+item.propertyName}}</option>
            {{# } }}
            {{# }); }}
            {{# } }}
        </select>
    </div>
    <div class="icon-div" style="position: absolute;top:0px;right:10px;height:38px;" lay-event="search"
         id="row-icon-{{d.row}}">
        <i class="layui-icon layui-icon-more"></i>
    </div>
    {{#  } }}
</script>
</form>

<script type="text/html" id="checkbd">
    {{#  if (d.disabled ==null|| !d.disabled){ }}
    <input type="checkbox" name="siam_one" title="" lay-skin="primary" data-id="{{ d.goodsId }}">
    {{#  } }}
</script>
<script  id="salesUnit" type="text/html">
    <select name="unitId" lay-filter="selectSalesUnit">
        <option value="">请选择</option>
        {{#  layui.each(d.storeGoodsSalesUnitList, function(index, item){ }}
        {{#  if(d.unitId&&d.unitId == item.unitId){ }}
        <option value="{{item.unitId}}"  selected>{{item.name}}</option>
        {{#  } else { }}
        <option value="{{item.unitId}}"  >{{item.name}}</option>
        {{#  } }}
        {{#  }); }}
    </select>

</script>
<style>
    .laytable-cell-checkbox .layui-disabled.layui-form-checked i {
        background: #fff !important;
    }

    .remark {
        width: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        text-align: left;
    }
</style>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var ctx = [[@{
        /}]];
        var unitIdList = [[${unitIdList}]];
        var prefix = ctx + "shop/returnOrder";
        var dataList = [];
        var houseList = [[${houseList}]];
        var storeMemberList = [[${storeMemberList}]];
</script>
<script th:inline="none">
    var closeBtn= parent.document.getElementsByClassName('layui-layer-btn0')[0];
    layui.use(['index', 'form', 'formX', 'table', 'laydate', 'upload', 'ext', 'tableSelect'], function () {
        var $ = layui.$;
        var form = layui.form;
        var formX = layui.formX;
        var layer = layui.layer;
        var table = layui.table;
        var admin = layui.admin;
        var laydate = layui.laydate;
        var tableSelect = layui.tableSelect;
        var notice = layui.notice;
        var iconPrefix = '#row-icon-', selectPrefix = 'row-select-'
        var deptId=null;

        var memberInfo=null;
        form.on("select(merchantId)", function (data) {
            memberInfo=null;
            dataList = [];
            deptId='-1'
            if(memberInfo!=null&&memberInfo.customerArea){
                getGoodsList(memberInfo.customerArea);
                deptId=memberInfo.customerArea;
            }
            layui.each(storeMemberList,function (index,item) {
                if(item.id==data.value){
                    memberInfo=item
                    return
                }
            })
            getGoodsList(memberInfo.customerArea);
            deptId=memberInfo.customerArea
            onSelect(selectPrefix + '1')
            layui.each(tableData, function (index, item) {
                layui.each(dataList, function (index1, item1) {
                    if (item.goodsId == item1.goodsId) {
                        item1.disabled = true
                    }
                })
            })
            loadTable()
            form.render('select');
        });

        //查询报价单商品------------------------------------------------------------------------------------------------

        function getGoodsList(deptId) {

            admin.req(ctx + "shop/quotationGoods/list", {queryAll: true,deptId:deptId}, function (result) {
                dataList = result.rows;
            }, 'post', {async: false})
        }

        //初始化商品----------------------------------------------------------------------------------------------------
        var tableData = [{row: '1'}]
        onSelect(selectPrefix + '1')
        loadTable()

        function loadTable() {
            table.render({
                elem: '#dataTable'
                , data: tableData
                , method: 'POST'
                , height: 'full-100'
                , totalRow: true
                , cellMinWidth: 80
                , page: false
                , limit: 500
                ,id: 'tclassReload'
                , cols: [[
                    , {field: 'goodsId', title: '商品id', hide: true}
                    , {toolbar: '#toolbarRow', minWidth: 400, totalRowText: '合计'}
                    , {field: 'image', title: '商品图片',height:'50px', templet: function (d) {
                            return  d.image?' <img src=\"'+d.image+'\" style=\"width: 50px;height: 50px\">':'';
                        }}
                    , {field: 'propertyName', minWidth: 300, title: '商品名称'}
                    , {field: 'goodsCode', width: 130, title: '商品编码'}
                    , {field: 'saleNum', title: '库存'}
                    , {field: 'price',  title: '价格', edit: true}
                    , {
                        title: '销售单位', minWidth: 87,templet:'#salesUnit'
                    }
                    , {field: 'quantity', title: '数量', totalRow: true, edit: true}
                    , {field: 'subtotal', title: '小计', totalRow: true}
                    , {
                        field: 'remark', title: '备注', templet: function (d) {
                            if (d.remark) {
                                return '<div class=\"remark\" title=\"' + d.remark + '\">' + d.remark + '</div>'
                            }
                            return ''
                        }
                    }
                ]],
                done: function () {
                    layui.each(tableData, function (index, item) {
                        addTableSelect(iconPrefix + item.row)
                    })

                    form.on('select(selectSalesUnit)',function (data) {

                        var elem = $(data.elem);
                        var trElem = elem.parents('tr');
                        var tableData1 = table.cache.tclassReload;
                        // 更新到表格的缓存数据中，才能在获得选中行等等其他的方法中得到更新之后的值
                        tableData1[trElem.data('index')][elem.attr('name')] = data.value;
                        var unitPriceList=tableData1[trElem.data('index')].unitPriceList;
                        var quantity=tableData1[trElem.data('index')].quantity
                        var saleNum=tableData1[trElem.data('index')].saleNum
                        var price=tableData1[trElem.data('index')].price

                        if(unitPriceList&&unitPriceList.length>0){
                            layui.each(unitPriceList, function (index, item) {
                                if (item.unitId == data.value) {
                                    tableData1[trElem.data('index')]['price']=item.price
                                    tableData1[trElem.data('index')]['subtotal']=parseFloat(item.price *quantity).toFixed(2)
                                }
                            })
                        }
                        loadTable()
                    })
                }
            });

        }

        //监听数量编辑--------------------------------------------------------------------------------------------------
        table.on('edit(dataTable)', function (obj) {
            var field = obj.field;
            var reg = /^[0-9]*$|^[0-9]+(.[0-9]{2})?$|^[0-9]+(.[0-9]{1})?$/
            var isNumber=reg.test(obj.value)&&obj.value>0
            if (isNumber) {

                layui.each(tableData, function (index, item) {
                    if (item.goodsId == obj.data.goodsId) {
                        if (field == 'quantity') {
                            item.quantity = parseFloat(obj.value).toFixed(2)
                            item.subtotal = obj.data.price ? parseFloat(obj.data.price * obj.value).toFixed(2) : 0;
                        }else  if (field == 'price') {
                            item.subtotal = obj.data.price ? parseFloat(obj.data.quantity * obj.value).toFixed(2) : 0;
                        }
                    }
                })
            } else {
                admin.info('请输入大于0的数字,最多2位小数');
                layui.each(tableData, function (index, item) {
                    if (item.goodsId == obj.data.goodsId) {
                        if (field == 'quantity') {
                            item.quantity = 1
                        }else  if (field == 'price') {
                            item.price = 1;
                        }
                    }
                })
            }
            loadTable()

        })

        //初始化点击...弹框搜索-----------------------------------------------------------------------------------------
        function addTableSelect(id) {
            if ($('#merchantId').val() == null || $('#merchantId').val() == '') {
                return;
            }
            tableSelect.render({
                elem: id,	//定义输入框input对象
                checkedKey: 'goodsId', //表格的唯一建值，非常重要，影响到选中状态 必填
                searchKey: 'searchKey',	//搜索输入框的name值 默认keyword
                searchPlaceholder: '商品名称|商品货号',	//搜索输入框的提示文字 默认关键词搜索
                table: {	//定义表格参数，与LAYUI的TABLE模块一致，只是无需再定义表格elem
                    url: ctx + "shop/quotationGoods/list"
                    , method: 'POST'
                    , height: 'full-100'
                    , cellMinWidth: 80
                    , page: true
                    , request: {
                        pageName: 'pageNum' //页码的参数名称，默认：page
                        , limitName: 'pageSize' //每页数据量的参数名，默认：limit
                    }
                    ,where:{deptId:deptId}
                    , cols: [[
                        {
                            templet: "#checkbd",
                            title: "<input type='checkbox' name='siam_all' title='' lay-skin='primary' lay-filter='siam_all'> ",
                            width: 60,
                        }
                        , {field: 'goodsId', title: '商品id', hide: true}
                        , {field: 'spuNo', title: '商品spu', hide: true}
                        , {field: 'goodsCode', title: '商品货号', width: 200}
                        , {field: 'spuName', title: '商品spu', width: 250}
                        , {field: 'propertyName', title: '商品名称', width: 250}
                    ]]
                    , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                        layui.each(res.rows, function (index, item) {
                            layui.each(dataList, function (index1, item1) {
                                if (item.goodsId == item1.goodsId) {
                                    item.disabled = item1.disabled
                                }
                            })
                        })
                        return {
                            "code": res.code, //解析接口状态
                            "msg": res.msg, //解析提示文本
                            "count": res.total, //解析数据长度
                            "data": res.rows //解析数据列表
                        };
                    }
                },
                done: function (elem, data) {
                    //设置选择得值
                    $.each($("input[name=siam_one]:checked"), function (i, value) {
                        var goodsId = $(this).attr("data-id")
                        var free = false;
                        layui.each(tableData, function (index, item) {
                            if (item.goodsId == null) {
                                //优先使用没填充值得数组
                                setGoodsInfo(selectPrefix + item.row, goodsId)
                                free = true
                            }
                        })
                        //无可用数组则新增
                        if (!free) {
                            var id = tableData.length + 1
                            tableData.push({row: id})
                            setGoodsInfo(selectPrefix + id, goodsId)
                        }
                    });
                }
            })
            form.render("select");
        }

        //全选
        form.on("checkbox(siam_all)", function () {
            var status = $(this).prop("checked");
            $.each($("input[name=siam_one]"), function (i, value) {
                $(this).prop("checked", status);
            });
            form.render();
        });
        //行工具栏事件--------------------------------------------------------------------------------------------------
        table.on('tool(dataTable)', function (obj) {
            if ($('#merchantId').val() == null || $('#merchantId').val() == '') {
                return admin.info('请先选择客户！');
            }
            var data = obj.data;
            if (obj.event === 'add') {
                active.add(data);
            } else if (obj.event === 'subtraction') {
                active.subtraction(data);
            } else if (obj.event === 'search') {
                active.search(data);
            }
        });
        //事件----------------------------------------------------------------------------------------------------------
        var active = {
            add: function (d) {
                var id = tableData.length + 1
                tableData.push({row: id})
                onSelect(selectPrefix + id)
                loadTable()
            }, subtraction: function (d) {
                if (tableData.length > 1) {
                    for (var i = 0; i < tableData.length; i++) {
                        if (d.goodsId == tableData[i].goodsId) {
                            tableData.splice(i, 1);
                        }
                    }
                    layui.each(dataList, function (index, item) {
                        if (item.goodsId == d.goodsId) {
                            item.disabled = false
                        }
                    })
                    loadTable()
                }
            }, search: function (d) {

            }
        }

        //商品下拉选择监听----------------------------------------------------------------------------------------------
        function onSelect(filterName) {
            //监听下拉框编辑
            form.on('select(' + filterName + ')', function (data) {
                if ($('#merchantId').val() == null || $('#merchantId').val() == '') {
                    return admin.info('请先选择客户！');
                }
                //选择的select对象值；
                var selectValue = data.value;
                setGoodsInfo(filterName, selectValue)
            })
        }

        //设置商品信息--------------------------------------------------------------------------------------------------
        function setGoodsInfo(filterName, selectValue) {
            var goodsInfo = findGoodsById(selectValue)
            //往table设置值
            layui.each(tableData, function (index, item) {
                if ((selectPrefix + item.row) == filterName) {
                    item.goodsId = goodsInfo.goodsId;
                    item.image = goodsInfo.image;
                    item.propertyName = goodsInfo.propertyName;
                    item.goodsCode = goodsInfo.goodsCode;
                    item.price = goodsInfo.price;
                    item.unitPriceList = goodsInfo.unitPriceList;
                    item.spuNo = goodsInfo.spuNo;
                    item.storeGoodsSalesUnitList = goodsInfo.storeGoodsSalesUnitList;
                    item.quantity = 1;
                    item.saleNum = goodsInfo.saleNum;
                    item.baseUnit = goodsInfo.baseUnit;
                    item.deptId = goodsInfo.deptId;
                    item.subtotal = goodsInfo.price
                }
            })
            //禁用已选过的商品
            layui.each(dataList, function (index, item) {
                if (item.goodsId == goodsInfo.goodsId) {
                    item.disabled = true
                }
            })
            loadTable()
        }

        //通过商品id获取商品信息----------------------------------------------------------------------------------------------
        function findGoodsById(goodsId) {
            var goodsInfo = {};
            layui.each(dataList, function (index, item) {
                if (item.goodsId == goodsId) {
                    goodsInfo = item;
                    return;
                }
            })
            return goodsInfo;
        }

        //新增订单------------------------------------------------------------------------------------------------------
        layui.form.on('submit(submitBtn)', function (data) {
            var hasGoods = true,hasUnitId = true, hasQuantity = true;
            layui.each(tableData, function (index, item) {
                if (item.goodsId == null) {
                    hasGoods = false
                    return;
                }
                if (item.unitId == null) {
                    hasUnitId = false
                    return;
                }

                if (item.quantity == null||item.quantity=='') {
                    hasQuantity = false
                    return;
                }

            })
            if (!hasGoods) {
                return admin.info('还有未设置的商品！');
            }
            if (!hasUnitId) {
                return admin.info('还有未设置销售单位的商品！');
            }
            if (!hasQuantity) {
                return admin.info('还有未设置数量的商品！');
            }


            var field = data.field; //获取提交的字段
            field.itemData = JSON.stringify(tableData)
            field.source = 2
            field.printStatus = 0
            field.payStatus = 0
            field.status = 1
            field.deptId = deptId
            admin.req(prefix + '/add', field, function (data) {
                if (data.code == 0) {
                    admin.success('保存成功!');
                    setTimeout(function(){closeBtn.click()},300);
                } else {
                    admin.error(data.msg);
                }
            }, 'post');
        });
    })


</script>
</body>
</html>