<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('新增收款单')" />
</head>
<body class="bg-white">

<!-- 正文开始 -->
<form class="layui-form bg-white" id="inputForm" th:onsubmit="return false" th:action="@{/shop/receipt/add}" th:object="${storeReceipt}">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row">
                <input name="receiptId" th:field="*{receiptId}" type="hidden">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">订单id:</label>
                    <div class="layui-input-block">
                        <input name="orderId" type="text" class="layui-input" lay-verType="tips" lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">客户id:</label>
                    <div class="layui-input-block">
                        <input name="merchantId" type="text" class="layui-input" lay-verType="tips" lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">区域id:</label>
                    <div class="layui-input-block">
                        <input name="deptId" type="text" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">收款编号:</label>
                    <div class="layui-input-block">
                        <input name="code" type="text" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">订单金额:</label>
                    <div class="layui-input-block">
                        <input name="price" type="text" class="layui-input" lay-verType="tips" lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">0-未付款 1-已付款:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="payStatus" value=""  lay-verType="tips" lay-verify="required">
                        <div class="layui-form-mid layui-word-aux">代码生成请选择字典属性</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">金额:</label>
                    <div class="layui-input-block">
                        <input name="amount" type="text" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">余额:</label>
                    <div class="layui-input-block">
                        <input name="balance" type="text" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注:</label>
                    <div class="layui-input-block">
                        <input name="comment" type="text" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">凭证路径:</label>
                    <div class="layui-input-block">
                        <textarea name="voucherPath" class="layui-textarea" maxlength="500" rows="3">[[*{voucherPath}]]</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">最后更新时间:</label>
                    <div class="layui-input-block">
                        <input id="lastModifyTime" type="text" placeholder="请选择最后更新时间" class="layui-input date-icon" autocomplete="off" readonly="readonly"/>
                        <input type="hidden" name="lastModifyTime" lay-verType="tips" lay-verify="required">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <button id="submitBtn" class="layui-btn" lay-filter="submitBtn" lay-submit>保存</button>
        <button id="closeBtn" class="layui-btn layui-btn-primary" ew-event="closeDialog">关闭</button>
    </div>
</form>

<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var ctx = [[@{/}]];
    var prefix = ctx + "shop/receipt";
</script>
<script th:inline="none">
    layui.use(['index', 'form', 'formX', 'table', 'laydate', 'upload', 'ext'], function(){
        var $ = layui.$;
        var form = layui.form;
        var formX = layui.formX;
        var layer = layui.layer;
        var table = layui.table;
        var admin = layui.admin;
        var upload = layui.upload;
        var laydate = layui.laydate;

        //日期范围
        laydate.render({
            elem: '#lastModifyTime'
            , type: 'datetime'
            , done: function (value, date, endDate) {
                $("input[name='lastModifyTime']").val(value);
            }
        });

    })
</script>
</body>
</html>