<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商品盘库列表')" />
</head>
<body>


<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <!-- 搜索区 -->
            <form class="layui-form toolbar" th:onsubmit="return false" lay-filter="inputForm" id="inputForm">
                <div class="layui-form-item">

<!--                    <div class="layui-inline">-->
<!--                        <label class="layui-form-label label-auto">仓库id：</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <input class="layui-input" name="warehouseId" type="text" placeholder="请输入仓库id"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="layui-inline">-->
<!--                        <label class="layui-form-label label-auto">区域id：</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <input class="layui-input" name="deptId" type="text" placeholder="请输入区域id"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="layui-inline">-->
<!--                        <label class="layui-form-label label-auto">操作者：</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <input class="layui-input" name="creatorId" type="text" placeholder="请输入操作者"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="layui-inline">-->
<!--                        <label class="layui-form-label label-auto">盘点总数量：</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <input class="layui-input" name="quanintiy" type="text" placeholder="请输入盘点总数量"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="layui-inline">-->
<!--                        <label class="layui-form-label label-auto">盘点总金额：</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <input class="layui-input" name="amount" type="text" placeholder="请输入盘点总金额"/>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="layui-inline">
                        <label class="layui-form-label label-auto">盘点日期：</label>
                        <div class="layui-input-inline">
                            <input  id="updateTime" type="text" placeholder="请选择开始和结束日期" class="layui-input date-icon" autocomplete="off"/>
                            <input id="startTime" type="text" style="display:none;" name="startTime">
                            <input id="endTime" type="text" style="display:none;" name="endTime">
                        </div>
                    </div>

                    <div class="layui-inline" >
                        <label class="layui-form-label label-auto">所属区域：</label>
                        <div class="layui-input-inline">
                            <select name="deptId"   id="deptId"  lay-search >
                                <option  value="" th:checked="true">选择区域</option>
                            </select>
                        </div>
                    </div>
<!--                    <div class="layui-inline">-->
<!--                        <label class="layui-form-label label-auto">最后更新时间：</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <input id="createTime" type="text" placeholder="请选择开始和结束日期" class="layui-input date-icon" autocomplete="off"/>-->
<!--                            <input id="beginDate" type="hidden" name="params[beginLastModifyTime]">-->
<!--                            <input id="endDate" type="hidden" name="params[endLastModifyTime]">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="layui-inline" style="padding-left: 13px;">
                        <button class="layui-btn layui-btn-sm icon-btn" lay-submit lay-filter="searchBtn" id="searchBtn">
                            <i class="layui-icon layui-icon-search"></i>搜索
                        </button>
                        <button class="layui-btn layui-btn-sm icon-btn" type="reset">
                            <i class="layui-icon layui-icon-refresh"></i>重置
                        </button>
                        <a class="layui-btn layui-btn-primary form-search-expand layui-hide" data-expand="true">
                            展开 <i class="layui-icon layui-icon-down"></i>
                        </a>
                    </div>
                </div>
            </form>

            <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>
        </div>

    </div>
</div>

<!-- 头工具栏 -->
<script type="text/html" id="toolbarHead">
    <div class="layui-btn-container">
<!--        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add" shiro:hasPermission="shop:inventory:add"><i class="layui-icon layui-icon-addition"></i>新增</button>-->
        <button class="layui-btn layui-btn-warm layui-btn-sm" lay-event="edit" shiro:hasPermission="shop:inventory:edit"><i class="layui-icon layui-icon-edit"></i>修改</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="batchdel" shiro:hasPermission="shop:inventory:remove"><i class="layui-icon layui-icon-delete"></i>删除</button>
<!--        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="import" shiro:hasPermission="shop:inventory:import"><i class="layui-icon layui-icon-upload"></i>导入</button>-->
<!--        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="export" shiro:hasPermission="shop:inventory:export"><i class="layui-icon layui-icon-export"></i>导出</button>-->
    </div>
</script>

<!-- 行工具栏 -->
<script type="text/html" id="toolbarRow">
    <a class="layui-btn layui-btn-xs" lay-event="view" shiro:hasPermission="shop:inventory:edit">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="shop:inventory:edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="shop:inventory:remove">删除</a>
</script>

<!-- js部分 -->
<th:block th:include="include :: footer" />
<script type="text/javascript" th:inline="javascript">
    var ctx = [[@{/}]];
</script>
<script type="text/javascript" th:inline="none">
    layui.use(['index', 'layer', 'form', 'table', 'util', 'ext','laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var ext = layui.ext;
        var admin = layui.admin;
        var index = layui.index;

        var prefix = ctx + "shop/inventory";
        var listUrl = prefix + "/list";
        var createUrl = prefix + "/add";
        var updateUrl = prefix + "/edit/{id}";
        var removeUrl = prefix + "/remove";
        var exportUrl = prefix + "/export";

        admin.req(ctx + "system/dept/getLoginUserDept", { }, function (result) {
            var select= document.getElementById('deptId');
            deptList= result.data;
            for (var i=0;i<result.data.length;i++) {
                var data= result.data[i];
                var option = document.createElement("option");
                option.setAttribute("value", data.value);
                option.innerText =data.name;
                if(select){
                    select.appendChild(option)
                }
            }
            form.render('select');
        },'get',{async: false})

        queryList()
        function queryList(field){
            var params = {}
            if (field != null) {
                params = field;
            }
            params.orderByColumn = 'intentory_date';
            params.isAsc = 'desc'
        table.render({
            elem: '#dataTable'
            ,defaultToolbar: []
            ,url: listUrl
            ,method: 'POST'
            ,toolbar: '#toolbarHead'
            , defaultToolbar:[{title:'导出',layEvent: 'export',icon: 'layui-icon-export'}]
            ,height: 'full-100'
            ,cellMinWidth: 80
            ,page: true
            ,request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,limit: 10
            ,where: params
            ,cols: [[
                {type: 'checkbox'}
                ,{field: 'inventoryId', title: '盘库id', hide: true}
                ,{field: 'warehouseName', title: '仓库'}
                ,{field: 'deptName', title: '区域'}
                ,{field: 'creatorIdName', title: '操作者'}
                ,{field: 'quantity', title: '盘点总数量'}
                //,{field: 'amount', title: '盘点总金额'}
                ,{field: 'intentoryDate', title: '盘点日期'}
                ,{field: 'operate', title: '操作', minWidth: 200, toolbar: '#toolbarRow', fixed: 'right'}
            ]]
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.rows //解析数据列表
                };
            }
        });
        }
        //日期范围
        laydate.render({
            elem: '#updateTime'
            ,type: 'datetime'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value != null && value != '') {
                    var b = $.trim(value.split('~')[0]);
                    var e = $.trim(value.split('~')[1]);
                    $("#startTime").val(b);
                    $("#endTime").val(e);
                }
            }
        });

        //监听搜索
        form.on('submit(searchBtn)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('dataTable', {
                where: field
                ,page:{curr:1}
            });
        });

        //头工具栏事件
        table.on('toolbar(dataTable)', function(obj){
            switch(obj.event){
                case 'add':
                    active.add();
                    break;
                case 'edit':
                    var checkStatus = table.checkStatus('dataTable')
                            , checkData = checkStatus.data; //得到选中的数据
                    var id = null;
                    if (id == null) {
                        if (checkData.length === 0) {
                            return admin.info('请选择一条数据');
                        } else if (checkData.length > 1) {
                            return admin.info('只能选择一条数据编辑');
                        } else {
                            id = checkData[0].inventoryId;
                        }
                    }
                    active.edit(id);
                    break;
                case 'batchdel':
                    active.batchdel();
                    break;
                case 'import':
                    break;
                case 'export':
                    $.modal.loading("正在导出数据，请稍后...");
                    $.post(exportUrl, $("#inputForm").serializeArray(), function(result) {
                        if (result.code == web_status.SUCCESS) {
                            window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                        } else if (result.code == web_status.WARNING) {
                            $.modal.alertWarning(result.msg)
                        } else {
                            $.modal.alertError(result.msg);
                        }
                        $.modal.closeLoading();
                    });
                    break;
            };
        });

        //行工具栏事件
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'view') {
                active.view(data.inventoryId);
            } else if(obj.event === 'edit'){
                active.edit(data.inventoryId);
            } else if (obj.event === 'del') {
                active.del(data.inventoryId);
            }
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('dataTable')
                        , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return admin.info('请选择数据');
                }

                var ids = [];
                layui.each(checkData, function (index, item) {
                    ids.push(item.inventoryId);
                });

                admin.confirm('确定删除吗？', function () {
                    admin.req(removeUrl, {ids: ids.join(',')}, function (result) {
                        if (result.code == 0) {
                            table.reload('dataTable');
                            admin.success('删除成功!');
                        } else {
                            admin.error(result.msg);
                        }
                    },'post')
                });
            }
            ,view: function (id) {
                var editUrl = updateUrl.replace("{id}", id);
                parent.layui.admin.openDialogView3('查看商品盘库', editUrl,'100%', '100%');
            }
            ,add: function () {
                parent.layui.admin.openUrl('新增商品盘库', createUrl, '100%', '100%',function () {
                    //执行重载
                    queryList(getFormData())
                });
            }
            ,edit: function (id) {
                var editUrl = updateUrl.replace("{id}", id);
                parent.layui.admin.openUrl('修改商品盘库', editUrl, '100%', '100%',function () {
                    //执行重载
                    // queryList(getFormData())
                    table.reload('dataTable')
                });
            }
            ,del: function(id){
                admin.confirm('确定删除吗?',function(){
                    admin.req(removeUrl, {ids: id}, function (data) {
                        if (data.code == 0) {
                            table.reload('dataTable');
                            admin.success('删除成功!');
                        } else {
                            admin.error(data.msg);
                        }
                    },'post')
                });
            }
        }
        function getFormData(){
            var d = {
                beginDate:$("#beginDate").val(),
                endDate:$("#endDate").val(),
            }
            return d;
        }
    });
</script>

</body>
</html>