<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('修改线路和商户关联')" />
</head>
<body class="bg-white">
<!-- 加载动画-->
<!--<div class="page-loading">-->
    <!--<div class="ball-loader">-->
        <!--<span></span><span></span><span></span><span></span>-->
    <!--</div>-->
<!--</div>-->
<!-- 正文开始 -->
<form class="layui-form bg-white" id="inputForm" th:onsubmit="return false" th:action="@{/shop/routeCustomer/edit}" th:object="${storeRouteShop}">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row">
                <input name="id" th:field="*{id}" type="hidden">
                <input name="routeId" th:field="*{routeId}" type="hidden">
                <input name="customerId" th:field="*{customerId}" type="hidden">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">线路名称:</label>
                    <div class="layui-input-block">
                        <input name="routeName" type="text" th:field="*{routeName}" class="layui-input layui-disabled" lay-verType="tips" lay-verify="required" autocomplete="off" required readonly/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">商户名称:</label>
                    <div class="layui-input-block">
                        <input name="customerName" type="text" th:field="*{customerName}" class="layui-input layui-disabled" lay-verType="tips" lay-verify="required" autocomplete="off" required readonly/>
                    </div>
                </div>                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">配送顺序:</label>
                    <div class="layui-input-block">
                        <input name="sequenceNo" th:field="*{sequenceNo}" type="text" class="layui-input" lay-verType="tips" lay-verify="required" autocomplete="off"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <button id="submitBtn" class="layui-btn" lay-filter="submitBtn" lay-submit>保存</button>
        <button id="closeBtn" class="layui-btn layui-btn-primary" ew-event="closeDialog">关闭</button>
    </div>
</form>

<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var ctx = [[@{/}]];
    var prefix = ctx + "shop/routeCustomer";
</script>
<script th:inline="none">
    layui.use(['index', 'form', 'formX', 'table', 'laydate', 'upload', 'ext'], function(){
        var $ = layui.$;
        var form = layui.form;
        var formX = layui.formX;
        var layer = layui.layer;
        var table = layui.table;
        var admin = layui.admin;
        var upload = layui.upload;
        var laydate = layui.laydate;


    })
</script>
</body>
</html>