<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('上数详情设置')" />
</head>
<body class="bg-white">

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>
        </div>

    </div>
</div>

<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var ctx = [[@{/}]];
    var prefix = ctx + "shop/sale";
    var spuNo = [[${storeSaleSetting.spuNo}]];
    var deptId = [[${storeSaleSetting.deptId}]];
    var settingQuanintiy = [[${storeSaleSetting.settingQuanintiy}]];
    var settingId = [[${storeSaleSetting.settingId}]];
    var createTime = [[${createTime}]];
</script>
<script th:inline="none">
    layui.use(['index', 'form', 'formX', 'table', 'laydate', 'upload', 'ext'], function(){

        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var ext = layui.ext;
        var admin = layui.admin;
        var index = layui.index;

        var listUrl = ctx + "shop/sale/quotationGoods";
        var editUrl = ctx + "shop/sale/edit";

        table.render({
            elem: '#dataTable'
            ,url: listUrl
            ,method: 'POST'
            ,height: 'full-100'
            ,cellMinWidth: 80
            ,page: true
            ,where:{spuNo: spuNo,deptId: deptId,createTime:createTime}
            ,request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,limit: 10
            ,cols: [[
                {type: 'checkbox'}
                ,{field: 'goodsId', title: '控数详情id', hide: true}
                ,{field: 'spuName', title: '商品名称'}
                ,{field: 'propertyName', title: '属性名称'}
                ,{field: 'inQuanintiy', title: '订货数量'}
                ,{field: 'settingQuanintiy', title: '上数数量'}
                ,{field: 'salePercent', title: '上数比例(%)', edit: 'text'}
            ]]
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                res.rows.forEach(e=>{
                    if(e.salePercent){
                        e.settingQuanintiy = (parseFloat(e.salePercent) * 0.01 * settingQuanintiy).toFixed(2);
                    }
                })
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.rows //解析数据列表
                };
            }
        });

        //监听单元格编辑
        table.on('edit(dataTable)', function(obj) {
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            var oldVal = $(this).prev().text();
            if (isNaN(value)) {
                layer.msg('请填写数字');
                $(this).val(oldVal);
                return;
            }
            var totalPercent = 0.0;
            var updateArr = []
            var reqObj = {settingId: settingId};
            layui.table.cache['dataTable'].forEach(e=>{
                totalPercent += parseFloat(e.salePercent);
                e.settingQuanintiy = (parseFloat(e.salePercent) * 0.01 * settingQuanintiy).toFixed(2);
            });
            if (totalPercent > 100) {
                layer.msg('所有商品的上数比率不能超过100%');
                return;
            }
            updateArr.push({goodsId : data.goodsId, salePercent: value, settingId: settingId});
            reqObj.goodsList = updateArr;
            $.ajax({
                url:editUrl,
                type:'post',
                data:JSON.stringify(reqObj),
                contentType: "application/json",
                success:function(rsp){
                    // layer.msg('[ID: '+ data.goodsId +'] ' + field + ' 字段更改为：'+ value + '  原值:' + oldVal);
                    if(rsp.code == 0) {
                        table.reload('dataTable')
                        admin.success('操作成功！');
                    }
                    else
                        admin.error(rsp.msg)
                }

            });

        });

        //日期范围
        laydate.render({
            elem: '#lastmodifytime'
            , type: 'datetime'
            , done: function (value, date, endDate) {
                $("input[name='lastmodifytime']").val(value);
            }
        });

    })
</script>
</body>
</html>