<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>编辑公告</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../static/assets/libs/layui/css/layui.css" th:href="@{/assets/libs/layui/css/layui.css}"/>
    <link rel="stylesheet" href="../../../static/assets/module/admin.css" th:href="@{/assets/module/admin.css}"/>
    <script type="text/javascript" src="../../../static/assets/libs/tinymce/tinymce.min.js" th:src="@{/assets/libs/tinymce/tinymce.min.js}"></script>
    <script th:inline="javascript">
        var ctx = [[@{/}]];
    </script>
    <style>
        .layui-form-item {
            margin-bottom: 0;
            margin-top: 20px;
        }

        .layui-form-item .layui-inline {
            margin-bottom: 10px;
            margin-right: 0;
        }

        .form-group-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #fff;
            padding: 10px 20px;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .05);
        }
    </style>
    <script th:inline="javascript">
        // 渲染富文本编辑器
        tinymce.init({
            selector: '#editor',
            height: 550,
            language: 'zh_CN',
            plugins: 'code print preview fullscreen paste searchreplace save autosave link autolink image imagetools media table codesample lists advlist hr charmap emoticons anchor directionality pagebreak quickbars nonbreaking visualblocks visualchars wordcount ax_wordlimit',
            toolbar: 'fullscreen preview code | undo redo | forecolor backcolor | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | formatselect fontselect fontsizeselect | link image media emoticons charmap anchor pagebreak codesample | ltr rtl',
            toolbar_drawer: 'sliding',
            images_upload_url: ctx + "common/upload",
            file_picker_types: 'media',
            init_instance_callback : function(editor) {
                editor.on('Change', function(e) {
                    console.log(editor);
                    editor.save();
                    console.log(editor.getContent());
                });
            }
        });
    </script>
</head>
<body>

<!-- 正文开始 -->
<form class="layui-form" id="inputForm" th:onsubmit="return false" th:action="@{/system/notice/edit}" th:object="${notice}">
    <div class="layui-fluid" style="padding-bottom: 70px;">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-row">
                    <input name="userId"  type="hidden"  th:field="*{noticeId}" />
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-required">公告标题:</label>
                        <div class="layui-input-block">
                            <input name="noticeTitle" th:field="*{noticeTitle}" type="text" placeholder="请输入公告标题" class="layui-input" lay-verType="tips" lay-verify="required" required/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-required">公告类型:</label>
                        <div class="layui-input-block">
                            <select name="noticeType" lay-verType="tips" lay-verify="required" th:with="type=${@dict.getType('sys_notice_type')}">
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{noticeType}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-required">公告内容:</label>
                        <div class="layui-input-block">
                            <textarea id="editor" name="noticeContent">[[*{noticeContent}]]</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">公告状态:</label>
                        <div class="layui-input-block" th:with="type=${@dict.getType('sys_notice_status')}">
                            <input th:each="dict:${type}" type="radio" name="status" th:title="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{status}">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group-bottom text-right">
        <button id="submitBtn" class="layui-btn" lay-filter="submitBtn" lay-submit>保存</button>
        <button id="closeBtn" class="layui-btn layui-btn-danger" ew-event="closeDialog">关闭</button>
    </div>
</form>

<script type="text/javascript" src="../../../static/assets/libs/layui/layui.js" th:src="@{/assets/libs/layui/layui.js}"></script>
<script type="text/javascript" src="../../../static/assets/js/common.js" th:src="@{/assets/js/common.js}"></script>
<script th:inline="javascript">
    layui.use(['index', 'form', 'table', 'ext'], function(){
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        var table = layui.table;
        var admin = layui.admin;

        //监听提交
        form.on('submit(submitBtn)', function (data) {
            var field = data.field; //获取提交的字段
            var action = $('#inputForm').attr('action');
            admin.req(action, field, function(data){
                if (data.code == 0) {
                    parent.layui.table.reload('dataTable'); //数据刷新
                    parent.layui.admin.success('保存成功!');
                    admin.closeThisDialog();
                } else {
                    parent.layui.admin.error(data.msg);
                }
            }, 'post');
        });

    })
</script>
</body>
</html>