<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('新增商品列表')"/>
</head>
<body class="bg-white">
<!-- 加载动画-->

<!-- 正文开始 -->
<form class="layui-form bg-white" id="inputForm" th:onsubmit="return false" th:action="@{/shop/quotationGoods/edit}" th:object="${storeGoodsQuotationGoods}">
    <!-- 正文开始 -->
    <div class="layui-fluid">
        <div class="layui-form" style="padding-bottom:  70px;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <input name="quotationId" th:field="*{goodsId}" type="hidden">
                        <input name="status" th:field="*{status}" type="hidden">
                        <div class="layui-card-header">基础信息</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <label class="layui-form-label">所属分类</label>
                                <div class="layui-input-block">

                                    <div style="float:left;width: 40%">
                                        <input id="classifyId" th:field="*{classifyId}" name="classifyId" placeholder="请选择" class="layui-hide"/>

                                    </div>
                                    <div style="float:right;width: 40%">
                                        <select disabled name="spuNo" lay-filter="spuNo" lay-verify="required"  xm-select="roleid" id="spuNo"  th:field="*{spuNo}">
                                        </select>
                                    </div>

                                </div>

                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">商品图片</label>
                                <div class="layui-input-block" id="goodsImg">
                                    <img width="100px" height="100px"
                                         src=""
                                         name="goodsImg" />

                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">商品副标题</label>
                                <div class="layui-input-block">
                                    <input disabled class="layui-input" placeholder="商品副标题"
                                           max="100" name="goodsSubtitle" th:field="*{goodsSubtitle}"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">商品介绍</label>
                                <div class="layui-input-block">
                                    <textarea disabled name="goodsIntroduce" width="100%" placeholder="请输入内容"
                                              class="layui-textarea" maxlength="1000" rows="3" lay-verType="tips"
                                              lay-verify="required"  th:field="*{goodsIntroduce}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">销售信息
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <label class="layui-form-label">报价单</label>
                                <div class="layui-input-block">
                                    <select name="quotationId" lay-filter="quotationId" disabled  lay-verType="tips" lay-verify="required" xm-select="roleid" id="quotationId" th:field="*{quotationId}">
                                        <input  placeholder="请选择" class="layui-hide"  />
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">商品分类</label>
                                <div class="layui-input-block">
                                    <input class="layui-input" lay-verType="tips" lay-verify="required" disabled id="classifyName"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">属性名称</label>
                                <div class="layui-input-block">
                                    <input disabled class="layui-input" placeholder="属性名称" max="50"
                                           lay-verType="tips" lay-verify="required" name="propertyName" id="propertyName" th:field="*{propertyName}"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">单价</label>
                                <div class="layui-input-block">
                                    <!--                                    <input name="price" class="layui-input"     value="0.00" placeholder="10元/公斤" min="0" max="99999"-->
                                    <!--                                           lay-verType="tips" lay-verify="number" th:field="*{price}"/>-->

                                    <input disabled class="layui-input layui-input-number" min="0" max="999999" step="1" data-prec="2" lay-verType="tips"  lay-verify="number"  name="price" th:field="*{price}">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">销售规格</label>
                                <div class="layui-input-block"  id="saleUnit">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<!-- 行工具栏 -->
<script type="text/html" id="toolbarRow">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="shop:goods:remove">删除</a>
</script>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var ctx = [[@{
        /}]];
        var prefix = ctx + "shop/goods";
        var storeGoodsQuotationGoods = [[${storeGoodsQuotationGoods}]];

</script>
<script th:inline="none">
    layui.use(['index', 'form', 'formX', 'table', 'laydate',  'cascader','numinput'], function () {
        var $ = layui.$;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var prefix = ctx + "shop/quotationGoods";
        var listUrl = prefix + "/list";
        var cascader = layui.cascader;
        var removeUrl = prefix + "/remove";
        var numinp = layui.numinput;
        numinp.init({
            // 123：123键置顶, 789：789键置顶
            topBtns: 123,
            // 右侧功能按钮
            rightBtns: true,
            // 监听键盘事件
            listening: true,
            // 批量配置默认小数精确度
            defaultPrec: ''
        });
        //自定义表单验证------------------------------------------------------------------------------------------------
        form.verify({
            fuxuan:function () {
                var checkedList=document.getElementsByName("unitIds");
                var checked=false
                for (var i = 0; i <checkedList.length ; i++) {
                    var check=checkedList[i];
                    if(checkedList[i].checked==true){
                        checked=true;
                    }
                }
                if(!checked){
                    return  '请至少选择一个销售规格';
                }
            }
        });

        // 列表查询参数-------------------------------------------------------------------------------------------------
        function getQueryParams() {

            return {quotationId:storeGoodsQuotationGoods.quotationId,spuNo:$('#spuNo')[0].value==null?'-1':$('#spuNo')[0].value};
        }
        // 分类级联-----------------------------------------------------------------------------------------------------
        var  classifyTree=null,selectText='';
        admin.req(ctx + "shop/classify/queryClassifyTree", {status: 1, level: '1'}, function (result) {
            classifyTree=result.rows
            setSpuGoodsValue(storeGoodsQuotationGoods.classifyId)
            cascader.render({
                elem: '#classifyId',
                data: result.rows,
                disabled: true
            });
        }, 'post')
        // 设置销售规格-------------------------------------------------------------------------------------------------
        getSpuUnit(storeGoodsQuotationGoods.spuNo)
        setSpecificationsValue()
        function setSpecificationsValue() {
            var arr= storeGoodsQuotationGoods.unitIds.split(',');
            var checkedList=document.getElementsByName("unitIds");
            for (var i = 0; i <checkedList.length ; i++) {
                var check=checkedList[i];
                for (var j = 0; j <arr.length ; j++) {
                    if(arr[j]==check.value){
                        checkedList[i].checked=true;
                    }
                }

            }
            form.render('checkbox');
        }
        // 设置商品值---------------------------------------------------------------------------------------------------
        function setSpuGoodsValue(values){
            var arr=storeGoodsQuotationGoods.classifyId.split(',');
            var classifyId=arr.length>1?arr[1]:field.classifyId
            admin.req(ctx + "shop/spu/list", {status: 1, classifyId: classifyId}, function (result) {
                var select = document.getElementById('spuNo');
                select.innerHTML=""
                if (result.rows && result.rows.length) {
                    for (var i = 0; i < result.rows.length; i++) {
                        var data = result.rows[i];
                        var option = document.createElement("option");
                        option.setAttribute("value", data.spuNo);
                        option.setAttribute("data-url", data.image);
                        option.setAttribute("data-name", data.name);
                        option.innerText = data.name;
                        if(data.spuNo==storeGoodsQuotationGoods.spuNo){
                            option.setAttribute("selected", true);
                            selectText=findClassifyName(values.split(','));
                            $("#classifyName").attr("value",selectText);
                        }
                        select.appendChild(option)
                    }
                }
                form.render('select');

            }, 'post')
        }
        //列表----------------------------------------------------------------------------------------------------------

        //查询spu选择监听-----------------------------------------------------------------------------------------------
        form.on('select(spuNo)', function (data) {
            $("#classifyName").attr("value",selectText);
            $("#propertyName").attr("value",$(data.elem).find("option:selected").attr("data-name"));
        });
        //查询spu商品---------------------------------------------------------------------------------------------------
        function getSpuList(value) {
            admin.req(ctx + "shop/spu/list", {status: 1, classifyId:value}, function (result) {
                var select = document.getElementById('spuNo');
                select.innerHTML=""
                if (result.rows && result.rows.length) {
                    for (var i = 0; i < result.rows.length; i++) {
                        var data = result.rows[i];
                        var option = document.createElement("option");
                        option.setAttribute("value", data.spuNo);
                        option.setAttribute("data-url", data.image);
                        option.setAttribute("data-name", data.name);
                        option.innerText = data.name;
                        select.appendChild(option)
                        if(i==0&&data){
                            $("#classifyName").attr("value",data.name+selectText);
                            $("#propertyName").attr("value",data.name);
                        }
                    }
                }

                form.render('select');

            }, 'post')
        }

        //查询报价单----------------------------------------------------------------------------------------------------
        admin.req(ctx + "shop/quotation/selectStoreGoodsQuotationListOfUserOrQuotation", {quotationId:storeGoodsQuotationGoods.quotationId}, function (result) {
            var select = document.getElementById('quotationId');
            select.innerHTML=""
            if (result.rows && result.rows.length) {
                for (var i = 0; i < result.rows.length; i++) {
                    var data = result.rows[i];
                    var option = document.createElement("option");
                    option.setAttribute("value", data.quotationId);
                    option.innerText = data.quotationName;
                    select.appendChild(option)
                }
            }
            form.render('select');

        }, 'post')




        //查询分类名称--------------------------------------------------------------------------------------------------
        function findClassifyName(values) {
            var text=''
            if (classifyTree!=null && classifyTree.length>0) {
                classifyTree.forEach(p=>{
                    if(p.value==values[0]){
                    text+=p.label;
                    if(p.children){
                        p.children.forEach(c=>{
                            if(c.value==values[1]){
                            text+=c.label;
                        }
                    });
                    }
                }
            });
            }
            return text;
        }

        function getSpuUnit(spuNo) {
            admin.req(ctx + "shop/unit/getSpuUnit", {spuNo: spuNo}, function (result) {
                var select = document.getElementById('saleUnit');
                select.innerHTML=""
                if (result.rows && result.rows.length) {
                    for (var i = 0; i < result.rows.length; i++) {
                        var data = result.rows[i];
                        var input = document.createElement("input");
                        input.setAttribute("type", "checkbox");
                        input.setAttribute("name", "unitIds");
                        input.setAttribute("title", data.name);
                        input.setAttribute("value", data.unitId);
                        input.setAttribute("lay-verType", "tips");
                        input.setAttribute("lay-verify", "fuxuan");
                        input.innerText = data.name;
                        select.appendChild(input)
                    }
                }else{
                    select.innerHTML="未设置单位"
                }
                form.render('checkbox');
            }, 'post',{async:false})
        }

        if(storeGoodsQuotationGoods.url!=null&&storeGoodsQuotationGoods.url!=''){

            layui.$('#goodsImg').find('img').attr('src', getLocationUrl()+storeGoodsQuotationGoods.url);
        }

        function getLocationUrl() {
            //获取当前网址，如： http://localhost:8083/uimcardprj/share/meun.jsp
            var curWwwPath = window.document.location.href;
            //获取主机地址之后的目录，如： uimcardprj/share/meun.jsp
            var pathName = window.document.location.pathname;
            var pos = curWwwPath.indexOf(pathName);
            //获取主机地址，如： http://localhost:8083
            var localhostPaht = curWwwPath.substring(0, pos);
            //获取带"/"的项目名，如：/uimcardprj
            var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
            return localhostPaht;
        }
    })
</script>

</body>
</html>