<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>部门列表</title>
	<link rel="stylesheet" href="../../../static/assets/libs/layui/css/layui.css" th:href="@{/assets/libs/layui/css/layui.css}"/>
	<link rel="stylesheet" href="../../../static/assets/module/admin.css" th:href="@{/assets/module/admin.css}"/>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
		.layui-input-sm {
			width: 190px;
			height: 30px;
			line-height: 30px;
			padding: 0 10px;
		}
	</style>
</head>
<body class="bg-white">

<!-- 正文开始 -->
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-card">
			<!-- 搜索区 -->
			<form class="layui-form toolbar" th:onsubmit="return false" lay-filter="inputForm" id="inputForm">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label label-auto">部门名称：</label>
						<div class="layui-input-inline">
							<input id="keyword" class="layui-input" name="keyword" type="text" placeholder="输入部门名称"/>
						</div>
					</div>
					<div class="layui-inline">
						<button class="layui-btn layui-btn-sm icon-btn" lay-submit lay-filter="searchBtn" id="searchBtn">
							<i class="layui-icon">&#xe615;</i>搜索
						</button>
						<button class="layui-btn layui-btn-sm icon-btn" id="btnClear">
							<i class="layui-icon">&#x1006;</i>清除
						</button>
					</div>
				</div>
			</form>

			<table id="treeTable"></table>
		</div>
	</div>
</div>

<!-- 头工具栏 -->
<script type="text/html" id="toolbarHead">
	<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add" shiro:hasPermission="system:dept:add"><i class="layui-icon layui-icon-addition"></i>新增</button>
	<button class="layui-btn layui-btn-danger layui-btn-sm" id="removeAll" lay-event="del" shiro:hasPermission="system:dept:remove"><i class="layui-icon layui-icon-delete"></i>删除</button>
	<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="expandAll" ><i class="layui-icon layui-icon-shrink-right"></i>展开</button>
	<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="foldAll" ><i class="layui-icon layui-icon-spread-left"></i>折叠</button>
	<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="refresh" ><i class="layui-icon layui-icon-refresh"></i>刷新</button>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="toolbarRow">
	<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
	<a class="layui-btn layui-btn-xs" lay-event="add">添加</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- js部分 -->
<script type="text/javascript" src="../../../static/assets/libs/layui/layui.js" th:src="@{/assets/libs/layui/layui.js}"></script>
<script type="text/javascript" src="../../../static/assets/js/common.js" th:src="@{/assets/js/common.js}"></script>
<script th:inline="javascript">
	var ctx = [[@{/}]];
	var datas = [[${@dict.getType('sys_normal_disable')}]];
</script>
<script th:inline="none">
	layui.use(['layer', 'form', 'admin', 'treeTable', 'util', 'ext'], function () {
		var $ = layui.jquery;
		var layer = layui.layer;
		var form = layui.form;
		var admin = layui.admin;
		var treeTable = layui.treeTable;
		var util = layui.util;

		var prefix = ctx + "system/dept"
		var listUrl = prefix + "/listTree";
		var createUrl = prefix + "/add/{id}";
		var updateUrl = prefix + "/edit/{id}";
		var removeUrl = prefix + "/remove/{id}";
		var removeAll = prefix + "/remove";

		var firstTime = 0;
		// 渲染表格
		var insTb = treeTable.render({
			elem: '#treeTable',
			url: listUrl,
			toolbar: '#toolbarHead',
			request: {pidName: 'parentId'},
			tree: {
				iconIndex: 1,  // 折叠图标显示在第几列
				idName: 'deptId',  // 自定义id字段的名称
				pidName: 'parentId',  // 自定义标识是否还有子节点的字段名称
				isPidData: true  // 是否是pid形式数据
			},
			// defaultToolbar: ['filter', 'print', 'exports', {
			// 	title: '提示',
			// 	layEvent: 'LAYTABLE_TIPS',
			// 	icon: 'layui-icon-tips'
			// }],
			defaultToolbar: [],
			cols: [
				//{type: 'numbers'},
				{type: 'checkbox'},
				{field: 'deptName', title: '部门名称', width: 400},
				{field: 'deptId', title: '部门编号'},
				// {field: 'leader', title: '负责人'},
				// {field: 'phone', title: '手机'},
				// {field: 'email', title: '邮箱', width: 150},
				{field: 'orderNum', title: '排序', width: 100},
				{field: 'status', title: '状态', width: 100, templet:function (res) {
					return $.table.selectDictLabel(datas, res.status);
				}},
				{field: 'createTime', title: '创建时间', align: 'center', width: 200},
				//{field: 'updateTime', title: '更新时间', align: 'center', width: 200},
				{field: 'operate', title: '操作', align: 'center', width: 200, templet: '#toolbarRow'}
			],
			done: function(){
				if(firstTime == 0){
					insTb.expandAll();
				}
				firstTime++;
			}
		});


		// 搜索
		$('#searchBtn').click(function () {
			var keyword = $('#keyword').val();
			if (keyword) {
				insTb.filterData(keyword);
			} else {
				insTb.clearFilter();
			}
		});
		// 清除搜索
		$('#btnClear').click(function () {
			$("#keyword").val('');
			insTb.clearFilter();
		});

		//头工具栏事件
		treeTable.on('toolbar(treeTable)', function(obj) {
			switch (obj.event) {
				case 'add':
					var addUrl = createUrl.replace("{id}", '04');
					parent.layui.admin.openDialog('新增部门', addUrl, '580px', '70%', 'treeTable', 'submitBtn', function(res){
						parent.layui.admin.success('添加成功!');
						insTb.refresh();
					});
					break;
				case 'del':
					var checkData = insTb.checkStatus();
					var ids = [];
					layui.each(checkData, function (index, item) {
						if(!item.isIndeterminate){
							ids.push(item.deptId);
						}
					});
					admin.confirm('此操作不可逆, 确定删除吗？', function () {
						admin.req(removeAll, {ids: ids.join(',')}, function (result) {
							if (result.code == 0) {
								insTb.refresh();
								admin.success('删除成功!');
							} else {
								admin.error(result.msg);
							}
						},'post')
					});
					break;
				case 'expandAll':
					insTb.expandAll();
					break;
				case 'foldAll':
					insTb.foldAll();
					break;
				case 'refresh':
					insTb.refresh();
					break;
			}
		})

		// 工具条点击事件
		treeTable.on('tool(treeTable)', function (obj) {
			var data = obj.data;
			var id = data.deptId;
			var layEvent = obj.event;
			if (layEvent === 'edit') { // 修改
				var editUrl = updateUrl.replace("{id}", id);
				parent.layui.admin.openDialog('编辑部门', editUrl, '580px', '90%', 'treeTable', 'submitBtn', function(res){
					parent.layui.admin.success('保存成功!');
					obj.update(res.data);
				});

			} else if (layEvent === 'add') { // 添加
				var addUrl = createUrl.replace("{id}", id);
				parent.layui.admin.openDialog('新增子部门', addUrl, '580px', '90%', 'treeTable', 'submitBtn', function(res){
					parent.layui.admin.success('保存成功!');
					insTb.refresh(id);
				});
			} else if (layEvent === 'del') { // 删除
				var delUrl = removeUrl.replace("{id}", id);

				admin.confirm('确定删除?',function(){
					admin.req(delUrl,{},function (res) {
						if(res.code == 0){
							parent.layui.admin.success('删除成功!');
							obj.del(); // 删除当前行
						}else{
							admin.error(res.msg);
						}
					})
				});

			}
		});
	});
</script>
</body>
</html>