<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('仓库信息列表')" />
</head>
<body>

<!-- 加载动画 -->
<!--<div class="page-loading">-->
    <!--<div class="ball-loader">-->
        <!--<span></span><span></span><span></span><span></span>-->
    <!--</div>-->
<!--</div>-->

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <!-- 搜索区 -->
            <form class="layui-form toolbar" th:onsubmit="return false" lay-filter="inputForm" id="inputForm">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label label-auto">仓库编号：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="storeNo" type="text" placeholder="请输入仓库编号" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label label-auto">仓库名称：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="storeName" type="text" placeholder="请输入仓库名称" autocomplete="off"/>
                        </div>
                    </div>
                    <!--<div class="layui-inline">
                        <label class="layui-form-label label-auto">所属区域：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="areaName" type="text" placeholder="请输入区域名称"/>
                        </div>
                    </div>-->
                    <div class="layui-inline" style="padding-left: 13px;">
                        <button class="layui-btn layui-btn-sm icon-btn" lay-submit lay-filter="searchBtn" id="searchBtn">
                            <i class="layui-icon layui-icon-search"></i>搜索
                        </button>
                        <button class="layui-btn layui-btn-sm icon-btn" type="reset">
                            <i class="layui-icon layui-icon-refresh"></i>重置
                        </button>
                        <a class="layui-btn layui-btn-primary form-search-expand layui-hide" data-expand="true">
                            展开 <i class="layui-icon layui-icon-down"></i>
                        </a>
                    </div>
                </div>
            </form>

            <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>
        </div>

    </div>
</div>

<!-- 头工具栏 -->
<script type="text/html" id="toolbarHead">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add" shiro:hasPermission="shop:house:add"><i class="layui-icon layui-icon-addition"></i>添加仓库</button>
        <!--<button class="layui-btn layui-btn-warm layui-btn-sm" lay-event="edit" shiro:hasPermission="shop:house:edit"><i class="layui-icon layui-icon-edit"></i>修改</button>-->
        <!--<button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="batchdel" shiro:hasPermission="shop:house:remove"><i class="layui-icon layui-icon-delete"></i>删除</button>-->
        <!--<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="import" shiro:hasPermission="shop:house:import"><i class="layui-icon layui-icon-upload"></i>导入</button>-->
        <!--<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="export" shiro:hasPermission="shop:house:export"><i class="layui-icon layui-icon-export"></i>导出</button>-->
    </div>
</script>

<!-- 行工具栏 -->
<script type="text/html" id="toolbarRow">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="shop:house:edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="shop:house:remove">删除</a>
</script>

<!-- js部分 -->
<th:block th:include="include :: footer" />
<script type="text/javascript" th:inline="javascript">
    var ctx = [[@{/}]];
    var storeTypeDatas = [[${@dict.getType('store_house_type')}]];
</script>
<script type="text/javascript" th:inline="none">
    layui.use(['index', 'layer', 'form', 'table','laydate', 'util', 'ext'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var ext = layui.ext;
        var admin = layui.admin;
        var index = layui.index;

        var prefix = ctx + "shop/house";
        var listUrl = prefix + "/list";
        var createUrl = prefix + "/add";
        var updateUrl = prefix + "/edit/{id}";
        var removeUrl = prefix + "/remove";
        var exportUrl = prefix + "/export";

        table.render({
            elem: '#dataTable'
            ,url: listUrl
            ,method: 'POST'
            ,toolbar: '#toolbarHead'
            ,defaultToolbar:[]
            ,height: 'full-100'
            ,cellMinWidth: 80
            ,page: {
                curr:1
            }
            ,request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,limit: 10
            ,cols: [[
                {type: 'checkbox'}
                ,{field: 'storeId', title: '仓库id', hide: true}
                ,{field: 'storeNo', title: '仓库编号'}
                ,{field: 'storeName', title: '仓库名称'}
                // ,{field: 'deptId', title: '所属区域'}
                ,{field: 'deptName', title: '所属区域',templet:function (res) {return res.deptName;}}
                ,{field: 'storeType', title: '仓库类型', templet:function (res) {
                    return $.table.selectDictLabel(storeTypeDatas, res.storeType);
                }}
                ,{field: 'createTime', title: '创建时间'}
                ,{field: 'operate', title: '操作', minWidth: 200, toolbar: '#toolbarRow', fixed: 'right'}
            ]]
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.rows //解析数据列表
                };
            }
        });

        //日期范围
        laydate.render({
            elem: '#createTime'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value != null && value != '') {
                    var b = $.trim(value.split('~')[0]);
                    var e = $.trim(value.split('~')[1]);
                    $("#beginDate").val(b);
                    $("#endDate").val(e);
                }
            }
        });

        //监听搜索
        form.on('submit(searchBtn)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('dataTable', {
                where: field
                ,page: {
                    curr:1
                }
            });
        });

        //头工具栏事件
        table.on('toolbar(dataTable)', function(obj){
            switch(obj.event){
                case 'add':
                    active.add();
                    break;
                case 'edit':
                    var checkStatus = table.checkStatus('dataTable')
                            , checkData = checkStatus.data; //得到选中的数据
                    var id = null;
                    if (id == null) {
                        if (checkData.length === 0) {
                            return admin.info('请选择一条数据');
                        } else if (checkData.length > 1) {
                            return admin.info('只能选择一条数据编辑');
                        } else {
                            id = checkData[0].storeId;
                        }
                    }
                    active.edit(id);
                    break;
                case 'batchdel':
                    active.batchdel();
                    break;
                case 'import':
                    break;
                case 'export':
                    $.modal.loading("正在导出数据，请稍后...");
                    $.post(exportUrl, $("#inputForm").serializeArray(), function(result) {
                        if (result.code == web_status.SUCCESS) {
                            window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                        } else if (result.code == web_status.WARNING) {
                            $.modal.alertWarning(result.msg)
                        } else {
                            $.modal.alertError(result.msg);
                        }
                        $.modal.closeLoading();
                    });
                    break;
            };
        });

        //行工具栏事件
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'view') {
                active.view(data.storeId);
            } else if(obj.event === 'edit'){
                active.edit(data.storeId);
            } else if (obj.event === 'del') {
                active.del(data.storeId);
            }
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('dataTable')
                        , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return admin.info('请选择数据');
                }

                var ids = [];
                layui.each(checkData, function (index, item) {
                    ids.push(item.storeId);
                });

                admin.confirm('确定删除吗？', function () {
                    admin.req(removeUrl, {ids: ids.join(',')}, function (result) {
                        if (result.code == 0) {
                            table.reload('dataTable');
                            admin.success('删除成功!');
                        } else {
                            admin.error(result.msg);
                        }
                    },'post')
                });
            }
            ,view: function () {
                admin.openDialogView('查看仓库信息', editUrl, '800px', '480px');
            }
            ,add: function () {
                admin.openDialog('新增仓库信息', createUrl, '800px', '480px');
            }
            ,edit: function (id) {
                var editUrl = updateUrl.replace("{id}", id);
                admin.openDialog('修改仓库信息', editUrl, '800px', '480px');
            }
            ,del: function(id){
                admin.confirm('确定删除吗?',function(){
                    admin.req(removeUrl, {ids: id}, function (data) {
                        if (data.code == 0) {
                            table.reload('dataTable');
                            admin.success('删除成功!');
                        } else {
                            admin.error(data.msg);
                        }
                    },'post')
                });
            }
        }
    });
</script>

</body>
</html>